In [1]:
import pandas as pd

sim = pd.read_csv("sim_agravos.csv")
sim

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,CODMUNRES,LOCOCOR,CODMUNOCOR,...,sexo2,raca2,estcivil2,escol2,local,causa3,agravo,subgrupo,semana,capitulo
0,15032010,6041939.0,470,1,1.0,1.0,9.0,311620,3,311620,...,M,Branca,Solteiro,NaN,Domicílio,I21,doenisquem,iamrecor,11.0,IX
1,2052010,13011912.0,498,1,1.0,3.0,2.0,311620,3,311620,...,M,Branca,Viúvo,1a3anos,Domicílio,G30,NaN,NaN,18.0,Outros
2,24082010,3031931.0,479,1,NaN,2.0,3.0,311290,4,311290,...,M,NaN,Casado,4a7anos,ViaPública,I21,doenisquem,iamrecor,34.0,IX
3,24082010,20111947.0,462,2,NaN,3.0,1.0,316255,5,313940,...,F,NaN,Viúvo,Nenhum,Outros,E14,diabetesm,NaN,34.0,IV
4,29082010,4061978.0,432,1,NaN,1.0,NaN,315790,1,313940,...,M,NaN,Solteiro,NaN,Hospital,V49,NaN,NaN,35.0,Outros
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303368,29122019,22071928.0,491,1,1.0,2.0,4.0,315790,1,315790,...,M,Branca,Casado,8a11anos,Hospital,I21,doenisquem,iamrecor,NaN,IX
1303369,28122019,13061920.0,499,1,1.0,2.0,3.0,315790,3,315790,...,M,Branca,Casado,4a7anos,Domicílio,J44,doencviaaer,bronquite,52.0,X
1303370,27122019,30011925.0,494,1,1.0,3.0,3.0,315790,1,315790,...,M,Branca,Viúvo,4a7anos,Hospital,J18,NaN,NaN,52.0,Outros
1303371,15122019,28091957.0,462,1,2.0,1.0,2.0,315790,1,315790,...,M,Preta,Solteiro,1a3anos,Hospital,E11,diabetesm,NaN,51.0,IV
1303372,27122019,22111957.0,462,2,4.0,5.0,3.0,315790,1,315790,...,F,Parda,UniãoEstável,4a7anos,Hospital,I21,doenisquem,iamrecor,52.0,IX

In [2]:
sinasc = pd.read_csv("sinasc.csv")
sinasc = sinasc.drop(labels=['Unnamed: 0'], axis=1)
sinasc

c:\users\lucas\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (13,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,X,CODMUNNASC,IDADEMAE,QTDFILVIVO,QTDFILMORT,CODMUNRES,GESTACAO,GRAVIDEZ,IDANOMAL,CODANOMAL,PESO,DTNASC,SEXO,CODESTAB,codmunres,datanasc,ano,mes,sexo2
0,1,130260,19,0.0,0.0,313260,5.0,1.0,2.0,NaN,2965.0,26042010,1,2019558.0,313260,2010-04-26,2010,4,M
1,2,171610,19,1.0,0.0,312590,5.0,1.0,2.0,NaN,2780.0,29052010,2,2755149.0,312590,2010-05-29,2010,5,F
2,3,210260,29,4.0,0.0,314830,5.0,1.0,2.0,NaN,3200.0,9012010,2,NaN,314830,2010-01-09,2010,1,F
3,4,211130,29,4.0,NaN,313130,5.0,1.0,2.0,NaN,3540.0,23052010,1,2697688.0,313130,2010-05-23,2010,5,M
4,5,211140,30,NaN,NaN,313720,5.0,1.0,2.0,NaN,3700.0,28062010,1,2309602.0,313720,2010-06-28,2010,6,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604609,2604610,530010,31,3.0,0.0,310930,5.0,1.0,2.0,NaN,3135.0,12072019,1,10510.0,310930,2019-07-12,2019,7,M
2604610,2604611,530010,22,1.0,0.0,317040,5.0,1.0,1.0,Q226,3815.0,12072019,1,10510.0,317040,2019-07-12,2019,7,M
2604611,2604612,530010,22,2.0,1.0,317040,4.0,1.0,1.0,Q560,2270.0,31072019,2,10510.0,317040,2019-07-31,2019,7,F
2604612,2604613,530010,21,1.0,0.0,312247,5.0,1.0,2.0,NaN,3274.0,29082019,2,10510.0,312247,2019-08-29,2019,8,F
2604613,2604614,530010,34,1.0,2.0,314700,5.0,1.0,2.0,NaN,3646.0,30122019,2,10510.0,314700,2019-12-30,2019,12,F

In [3]:
fetais = pd.read_csv("fetais.csv")
fetais = fetais.drop(labels=['Unnamed: 0', 'X'], axis=1)

fetais

,DTOBITO,DTNASC,IDADE,SEXO,CODMUNRES,CAUSABAS,OBITOPUERP,OBITOGRAV,codmunres,dataobito,ano,mes,idade2,dias,faixaetaria,sexo2,causa3,agravo
0,25102010,NaN,NaN,1,314760,P027,NaN,NaN,314760,2010-10-25,2010,10,NaN,NaN,NaN,M,P02,NaN
1,30062010,NaN,NaN,1,293340,P95,NaN,NaN,293340,2010-06-30,2010,6,NaN,NaN,NaN,M,P95,NaN
2,12112010,NaN,NaN,1,150795,P026,NaN,NaN,150795,2010-11-12,2010,11,NaN,NaN,NaN,M,P02,NaN
3,28032010,NaN,NaN,1,120033,P95,NaN,NaN,120033,2010-03-28,2010,3,NaN,NaN,NaN,M,P95,NaN
4,15122010,NaN,NaN,1,130330,P95,NaN,NaN,130330,2010-12-15,2010,12,NaN,NaN,NaN,M,P95,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312511,28122019,NaN,NaN,1,510330,P95,NaN,NaN,510330,2019-12-28,2019,12,NaN,NaN,NaN,M,P95,NaN
312512,30032019,NaN,NaN,1,150375,P95,NaN,NaN,150375,2019-03-30,2019,3,NaN,NaN,NaN,M,P95,NaN
312513,9022019,NaN,NaN,1,150375,P95,NaN,NaN,150375,2019-02-09,2019,2,NaN,NaN,NaN,M,P95,NaN
312514,1072019,NaN,NaN,2,160050,P95,NaN,NaN,160050,2019-07-01,2019,7,NaN,NaN,NaN,F,P95,NaN
312515,17102019,NaN,NaN,1,130390,P95,NaN,NaN,130390,2019-10-17,2019,10,NaN,NaN,NaN,M,P95,NaN

In [4]:
aux = sinasc[['CODMUNRES', 'ano', 'IDADEMAE']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
aux.columns = ['CODMUNRES', 'ano', 'nascimentos']
aux

      CODMUNRES   ano  nascimentos
0        310000  2010           11
1        310000  2011            8
2        310000  2012           11
3        310000  2013            9
4        310000  2014            6
...         ...   ...          ...
8535     317220  2015           25
8536     317220  2016           24
8537     317220  2017           22
8538     317220  2018           30
8539     317220  2019           19

[8540 rows x 3 columns]

In [5]:
obitos = sim[['CODMUNRES', 'ano', 'IDADE']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
obitos.columns = ['CODMUNRES', 'ano', 'obitos']
obitos

      CODMUNRES   ano  obitos
0        310000  2010     206
1        310000  2011     193
2        310000  2012     283
3        310000  2013     260
4        310000  2014     243
...         ...   ...     ...
8535     317220  2015      19
8536     317220  2016      19
8537     317220  2017      22
8538     317220  2018      27
8539     317220  2019      27

[8540 rows x 3 columns]

In [6]:
def get_obitos_dias(sim, min_dias, max_dias, nome_col):
    result = sim[ (sim['dias'] >= min_dias) & (sim['dias'] <= max_dias) ]
    result = result[['CODMUNRES', 'ano', 'IDADE']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
    result.columns = ['CODMUNRES', 'ano', nome_col]
    
    return result

def get_obitos_cap(sim, cap, nome_col):
    result = sim[sim['capitulo'] == cap]
    result = result[['CODMUNRES', 'ano', 'IDADE']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
    result.columns = ['CODMUNRES', 'ano', nome_col]
    
    return result

In [7]:
#usado para o coeficiente de mortalidade infantil
obitos_1ano = get_obitos_dias(sim, 0, 364, 'obitos_<1ano')

#usado para o coeficiente de mortalidade neonatal precoce
obitos_6dias = get_obitos_dias(sim, 0, 6, 'obitos_<=6dias')

#usado para o coeficiente de mortalidade neonatal tardia
obitos_7a27dias = get_obitos_dias(sim, 7, 27, 'obitos_7a27dias')

#usado para o coeficiente de Mortalidade Infantil Precoce (ou Neonatal) - CMIP
obitos_0a27dias = get_obitos_dias(sim, 0, 27, 'obitos_0a27dias')

#usado para o coeficiente de mortalidade pós-neonatal
obitos_28a364dias = get_obitos_dias(sim, 28, 364, 'obitos_28a364dias')

#usado para o coeficiente de mortalidade perinatal
obitos_fetais = fetais[['CODMUNRES', 'ano', 'codmunres']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
obitos_fetais.columns = ['CODMUNRES', 'ano', 'obitos_fetais']

#usados para a proporção de mortalidade por causas (capitulo)

obitos_capI = get_obitos_cap(sim, 'I', 'obitos_capI')

obitos_capIV = get_obitos_cap(sim, 'IV', 'obitos_capIV')

obitos_capV = get_obitos_cap(sim, 'V', 'obitos_capV')

obitos_capVII = get_obitos_cap(sim, 'VII', 'obitos_capVII')

obitos_capIX = get_obitos_cap(sim, 'IX', 'obitos_capIX')

obitos_capX = get_obitos_cap(sim, 'X', 'obitos_capX')

obitos_capXII = get_obitos_cap(sim, 'XII', 'obitos_capXII')

obitos_capXIV = get_obitos_cap(sim, 'XIV', 'obitos_capXIV')

obitos_capXVI = get_obitos_cap(sim, 'XVI', 'obitos_capXVI')

obitos_capXX = get_obitos_cap(sim, 'XX', 'obitos_capXX')

obitos_capOutros = get_obitos_cap(sim, 'Outros', 'obitos_capOutros')

In [8]:
query1 = "causa3 in ['A34', 'F53', 'M83'] and OBITOPUERP == '1' and sexo2 == 'F' and idade2 >= 10 and idade2 <= 49 "

query2 = "causa3 in ['B20', 'B21', 'B22', 'B23', 'B24', 'D39', 'E23'] and (OBITOPUERP == '1' or OBITOGRAV == '1') and sexo2 == 'F' and idade2 >= 10 and idade2 <= 49 "

sim.query(query1)

Empty DataFrame
Columns: [DTOBITO, DTNASC, IDADE, SEXO, RACACOR, ESTCIV, ESC, CODMUNRES, LOCOCOR, CODMUNOCOR, CAUSABAS, LINHAA, LINHAB, LINHAC, LINHAD, LINHAII, OBITOGRAV, OBITOPUERP, codmunres, codmunocor, dataobito, ano, mes, idade2, dias, faixaetaria, sexo2, raca2, estcivil2, escol2, local, causa3, agravo, subgrupo, semana, capitulo]
Index: []

[0 rows x 36 columns]

In [9]:
sim.query(query2)

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,CODMUNRES,LOCOCOR,CODMUNOCOR,...,sexo2,raca2,estcivil2,escol2,local,causa3,agravo,subgrupo,semana,capitulo
1632,19022010,17091968.0,441,2,4.0,3.0,NaN,315390,2,315390,...,F,Parda,Viúvo,NaN,OutrosEstSaúde,B24,NaN,NaN,7.0,Outros
2742,30012010,18081978.0,431,2,NaN,2.0,9.0,317020,1,317020,...,F,NaN,Casado,NaN,Hospital,B20,NaN,NaN,4.0,Outros
2880,25062010,19091975.0,434,2,1.0,2.0,4.0,313460,3,313460,...,F,Branca,Casado,8a11anos,Domicílio,B20,NaN,NaN,25.0,Outros
3198,2052010,23011978.0,432,2,NaN,9.0,9.0,317020,2,317020,...,F,NaN,NaN,NaN,OutrosEstSaúde,B20,NaN,NaN,18.0,Outros
3891,19052010,28081968.0,441,2,1.0,9.0,9.0,317020,1,317020,...,F,Branca,NaN,NaN,Hospital,B20,NaN,NaN,20.0,Outros
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298318,21122019,1031970.0,449,2,4.0,1.0,4.0,313170,1,310620,...,F,Parda,Solteiro,8a11anos,Hospital,B20,NaN,NaN,51.0,Outros
1298490,24092019,21101972.0,446,2,4.0,1.0,9.0,310110,1,320150,...,F,Parda,Solteiro,NaN,Hospital,B20,NaN,NaN,39.0,Outros
1301649,1102019,4011976.0,443,2,4.0,1.0,3.0,314700,1,314700,...,F,Parda,Solteiro,4a7anos,Hospital,B20,NaN,NaN,40.0,Outros
1302497,16102019,3101973.0,446,2,4.0,1.0,4.0,313840,1,313840,...,F,Parda,Solteiro,8a11anos,Hospital,B20,NaN,NaN,42.0,Outros
1302951,26122019,24021989.0,430,2,1.0,2.0,5.0,313670,1,313670,...,F,Branca,Casado,12oumais,Hospital,B20,NaN,NaN,52.0,Outros

In [10]:
causas_maternas = ["O0" + str(i) for i in range(1, 10)]
causas_maternas = causas_maternas + ["O" + str(i) for i in range(10, 100)]

causas_maternas.remove("O96")
causas_maternas.remove("O97")

query3 = "causa3 in @causas_maternas"

sim.query(query3)

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,CODMUNRES,LOCOCOR,CODMUNOCOR,...,sexo2,raca2,estcivil2,escol2,local,causa3,agravo,subgrupo,semana,capitulo
2054,27052010,22091993.0,416,2,4.0,1.0,3.0,314675,1,315660,...,F,Parda,Solteiro,4a7anos,Hospital,O15,NaN,NaN,21.0,Outros
2206,30112010,28091970.0,440,2,4.0,2.0,3.0,310670,1,310670,...,F,Parda,Casado,4a7anos,Hospital,O90,NaN,NaN,48.0,Outros
3691,13072010,22091983.0,426,2,NaN,1.0,9.0,317020,1,317020,...,F,NaN,Solteiro,NaN,Hospital,O41,NaN,NaN,28.0,Outros
6097,11092010,23091981.0,428,2,4.0,1.0,9.0,315180,1,315180,...,F,Parda,Solteiro,NaN,Hospital,O41,NaN,NaN,36.0,Outros
6373,28082010,17101989.0,420,2,1.0,1.0,4.0,315180,1,315180,...,F,Branca,Solteiro,8a11anos,Hospital,O86,NaN,NaN,34.0,Outros
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296615,30122019,7041984.0,435,2,4.0,4.0,4.0,310620,1,310620,...,F,Parda,Separado/divorciado,8a11anos,Hospital,O10,NaN,NaN,NaN,Outros
1296949,23102019,10111982.0,436,2,NaN,2.0,4.0,311615,1,530010,...,F,NaN,Casado,8a11anos,Hospital,O67,NaN,NaN,43.0,Outros
1300601,22122019,26051980.0,439,2,4.0,2.0,3.0,316870,1,316870,...,F,Parda,Casado,4a7anos,Hospital,O45,NaN,NaN,52.0,Outros
1300755,15082019,24111989.0,429,2,2.0,1.0,4.0,310420,1,312230,...,F,Preta,Solteiro,8a11anos,Hospital,O45,NaN,NaN,33.0,Outros
1302602,8092019,21091997.0,421,2,2.0,5.0,3.0,317103,1,313510,...,F,Preta,UniãoEstável,4a7anos,Hospital,O45,NaN,NaN,37.0,Outros

In [11]:
#usado para razão de mortalidade materna

causas_maternas = ["O0" + str(i) for i in range(1, 10)]
causas_maternas = causas_maternas + ["O" + str(i) for i in range(10, 100)]

causas_maternas.remove("O96")
causas_maternas.remove("O97")

query = "   (causa3 in @causas_maternas)" + \
        "or (causa3 in ['A34', 'F53', 'M83'] and OBITOPUERP == '1')" + \
        "or (causa3 in ['B20', 'B21', 'B22', 'B23', 'B24', 'D39', 'E23'] and (OBITOPUERP == '1' or OBITOGRAV == '1')) "

obitos_maternos = sim.query(query)
obitos_maternos

,DTOBITO,DTNASC,IDADE,SEXO,RACACOR,ESTCIV,ESC,CODMUNRES,LOCOCOR,CODMUNOCOR,...,sexo2,raca2,estcivil2,escol2,local,causa3,agravo,subgrupo,semana,capitulo
2054,27052010,22091993.0,416,2,4.0,1.0,3.0,314675,1,315660,...,F,Parda,Solteiro,4a7anos,Hospital,O15,NaN,NaN,21.0,Outros
2206,30112010,28091970.0,440,2,4.0,2.0,3.0,310670,1,310670,...,F,Parda,Casado,4a7anos,Hospital,O90,NaN,NaN,48.0,Outros
3691,13072010,22091983.0,426,2,NaN,1.0,9.0,317020,1,317020,...,F,NaN,Solteiro,NaN,Hospital,O41,NaN,NaN,28.0,Outros
6097,11092010,23091981.0,428,2,4.0,1.0,9.0,315180,1,315180,...,F,Parda,Solteiro,NaN,Hospital,O41,NaN,NaN,36.0,Outros
6373,28082010,17101989.0,420,2,1.0,1.0,4.0,315180,1,315180,...,F,Branca,Solteiro,8a11anos,Hospital,O86,NaN,NaN,34.0,Outros
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296615,30122019,7041984.0,435,2,4.0,4.0,4.0,310620,1,310620,...,F,Parda,Separado/divorciado,8a11anos,Hospital,O10,NaN,NaN,NaN,Outros
1296949,23102019,10111982.0,436,2,NaN,2.0,4.0,311615,1,530010,...,F,NaN,Casado,8a11anos,Hospital,O67,NaN,NaN,43.0,Outros
1300601,22122019,26051980.0,439,2,4.0,2.0,3.0,316870,1,316870,...,F,Parda,Casado,4a7anos,Hospital,O45,NaN,NaN,52.0,Outros
1300755,15082019,24111989.0,429,2,2.0,1.0,4.0,310420,1,312230,...,F,Preta,Solteiro,8a11anos,Hospital,O45,NaN,NaN,33.0,Outros
1302602,8092019,21091997.0,421,2,2.0,5.0,3.0,317103,1,313510,...,F,Preta,UniãoEstável,4a7anos,Hospital,O45,NaN,NaN,37.0,Outros

In [12]:
obitos_maternos = obitos_maternos[['CODMUNRES', 'ano', 'IDADE']].groupby(['CODMUNRES', 'ano'], as_index=False).count()
obitos_maternos.columns = ['CODMUNRES', 'ano', 'obitos_maternos']
obitos_maternos

     CODMUNRES   ano  obitos_maternos
0       310020  2019                1
1       310030  2010                1
2       310060  2014                1
3       310060  2017                1
4       310090  2014                1
..         ...   ...              ...
769     317190  2018                1
770     317200  2013                1
771     317200  2014                2
772     317200  2018                2
773     317210  2014                1

[774 rows x 3 columns]

In [13]:
coefs = ( aux.merge(obitos_1ano, how='left')
         .merge(obitos_6dias, how='left')
         .merge(obitos_7a27dias, how='left')
         .merge(obitos_0a27dias, how='left')
         .merge(obitos_28a364dias, how='left')
         .merge(obitos_fetais, how='left')
         .merge(obitos_capI, how='left')
         .merge(obitos_capIV, how='left')
         .merge(obitos_capV, how='left')
         .merge(obitos_capVII, how='left')
         .merge(obitos_capIX, how='left')
         .merge(obitos_capX, how='left')
         .merge(obitos_capXII, how='left')
         .merge(obitos_capXIV, how='left')
         .merge(obitos_capXVI, how='left')
         .merge(obitos_capXX, how='left')
         .merge(obitos_capOutros, how='left')
         .merge(obitos_maternos, how='left')
         .merge(obitos, how='left'))

coefs.fillna(0, inplace=True)
coefs

,CODMUNRES,ano,nascimentos,obitos_<1ano,obitos_<=6dias,obitos_7a27dias,obitos_0a27dias,obitos_28a364dias,obitos_fetais,obitos_capI,...,obitos_capVII,obitos_capIX,obitos_capX,obitos_capXII,obitos_capXIV,obitos_capXVI,obitos_capXX,obitos_capOutros,obitos_maternos,obitos
0,310000,2010,11,6.0,3.0,2.0,5.0,1.0,16.0,0.0,...,0.0,12.0,0.0,1.0,0.0,1.0,30.0,158.0,0.0,206
1,310000,2011,8,1.0,0.0,0.0,0.0,1.0,13.0,3.0,...,0.0,12.0,2.0,0.0,1.0,0.0,18.0,152.0,0.0,193
2,310000,2012,11,1.0,1.0,0.0,1.0,0.0,14.0,6.0,...,0.0,13.0,1.0,0.0,1.0,0.0,35.0,222.0,0.0,283
3,310000,2013,9,1.0,0.0,0.0,0.0,1.0,21.0,3.0,...,0.0,12.0,1.0,0.0,0.0,0.0,28.0,211.0,0.0,260
4,310000,2014,6,0.0,0.0,0.0,0.0,0.0,25.0,3.0,...,0.0,13.0,4.0,2.0,0.0,0.0,23.0,191.0,0.0,243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8535,317220,2015,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,1.0,1.0,0.0,0.0,1.0,13.0,0.0,19
8536,317220,2016,24,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,3.0,1.0,0.0,0.0,0.0,0.0,12.0,0.0,19
8537,317220,2017,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,3.0,0.0,0.0,0.0,1.0,12.0,0.0,22
8538,317220,2018,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,0.0,1.0,0.0,0.0,0.0,18.0,0.0,27
8539,317220,2019,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,6.0,1.0,0.0,1.0,0.0,1.0,17.0,0.0,27

In [14]:
coefs['tx_mort_infantil'] = ( coefs['obitos_<1ano'] / coefs['nascimentos'] ) * 1000

coefs['tx_mort_neonatal'] = ( coefs['obitos_0a27dias'] / coefs['nascimentos'] ) * 1000

coefs['tx_mort_neonatalpre'] = ( coefs['obitos_<=6dias'] / coefs['nascimentos'] ) * 1000

coefs['tx_mort_neonataltardia'] = ( coefs['obitos_7a27dias'] / coefs['nascimentos'] ) * 1000

coefs['tx_mort_neonatalpos'] = ( coefs['obitos_28a364dias'] / coefs['nascimentos'] ) * 1000

coefs['tx_mort_perinatal'] = (( coefs['obitos_<=6dias']  + coefs['obitos_fetais'] ) / coefs['nascimentos'] ) * 1000

coefs['razao_mort_materna'] = (coefs['obitos_maternos'] / coefs['nascimentos']) * 100000

capitulos = [ 'I', 'IV', 'V', 'VII', 'IX', 'X', 'XII', 'XIV', 'XVI', 'XX', 'Outros' ]
for cap in capitulos:
    coef_name = "mort_prop_cap" + cap
    obitos_name = "obitos_cap" + cap
    
    coefs[coef_name] = (coefs[obitos_name] / coefs['obitos']) * 100

coefs

,CODMUNRES,ano,nascimentos,obitos_<1ano,obitos_<=6dias,obitos_7a27dias,obitos_0a27dias,obitos_28a364dias,obitos_fetais,obitos_capI,...,mort_prop_capIV,mort_prop_capV,mort_prop_capVII,mort_prop_capIX,mort_prop_capX,mort_prop_capXII,mort_prop_capXIV,mort_prop_capXVI,mort_prop_capXX,mort_prop_capOutros
0,310000,2010,11,6.0,3.0,2.0,5.0,1.0,16.0,0.0,...,0.485437,1.456311,0.0,5.825243,0.000000,0.485437,0.000000,0.485437,14.563107,76.699029
1,310000,2011,8,1.0,0.0,0.0,0.0,1.0,13.0,3.0,...,0.518135,2.072539,0.0,6.217617,1.036269,0.000000,0.518135,0.000000,9.326425,78.756477
2,310000,2012,11,1.0,1.0,0.0,1.0,0.0,14.0,6.0,...,0.000000,1.766784,0.0,4.593640,0.353357,0.000000,0.353357,0.000000,12.367491,78.445230
3,310000,2013,9,1.0,0.0,0.0,0.0,1.0,21.0,3.0,...,0.384615,1.538462,0.0,4.615385,0.384615,0.000000,0.000000,0.000000,10.769231,81.153846
4,310000,2014,6,0.0,0.0,0.0,0.0,0.0,25.0,3.0,...,0.411523,2.469136,0.0,5.349794,1.646091,0.823045,0.000000,0.000000,9.465021,78.600823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8535,317220,2015,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,15.789474,5.263158,5.263158,0.000000,0.000000,5.263158,68.421053
8536,317220,2016,24,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,15.789474,0.000000,0.0,15.789474,5.263158,0.000000,0.000000,0.000000,0.000000,63.157895
8537,317220,2017,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,4.545455,0.0,22.727273,13.636364,0.000000,0.000000,0.000000,4.545455,54.545455
8538,317220,2018,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.703704,0.000000,0.0,25.925926,0.000000,3.703704,0.000000,0.000000,0.000000,66.666667
8539,317220,2019,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.703704,0.000000,0.0,22.222222,3.703704,0.000000,3.703704,0.000000,3.703704,62.962963

In [15]:
municipios_estudados = [310020, 310320, 310390, 310480, 
 310500, 310620, 310640, 310670, 310700, 310740,
 310810, 310900, 310960, 310990, 311250, 311420,
 311560, 311750, 311760, 311787, 311800, 311810,
 311860, 311890, 311910, 312060, 312090, 312320,
 312410, 312470, 312570, 312600, 312640, 312720,
 312760, 312980, 313010, 313020, 313100, 313110,
 313190, 313220, 313370, 313380, 313460, 313540,
 313570, 313665, 313760, 313810, 313830, 313880,
 313970, 314015, 314050, 314070, 314110, 314230,
 314240, 314250, 314350, 314360, 314480, 314520,
 314580, 314610, 314640, 314690, 314710, 314740,
 314930, 314960, 315040, 315140, 315200, 315320,
 315360, 315370, 315390, 315460, 315480, 315530,
 315670, 315720, 315780, 315850, 315900, 316040,
 316060, 316170, 316180, 316210, 316292, 316295,
 316310, 316553, 316660, 316720, 316890, 317120]

coefs = coefs.query("CODMUNRES in @municipios_estudados")
coefs

,CODMUNRES,ano,nascimentos,obitos_<1ano,obitos_<=6dias,obitos_7a27dias,obitos_0a27dias,obitos_28a364dias,obitos_fetais,obitos_capI,...,mort_prop_capIV,mort_prop_capV,mort_prop_capVII,mort_prop_capIX,mort_prop_capX,mort_prop_capXII,mort_prop_capXIV,mort_prop_capXVI,mort_prop_capXX,mort_prop_capOutros
20,310020,2010,220,6.0,3.0,1.0,4.0,2.0,4.0,3.0,...,8.720930,1.744186,0.0,19.767442,6.976744,0.581395,1.162791,0.581395,1.744186,56.976744
21,310020,2011,224,2.0,2.0,0.0,2.0,0.0,2.0,5.0,...,4.895105,3.496503,0.0,16.083916,7.692308,0.000000,1.398601,0.000000,2.097902,60.839161
22,310020,2012,238,5.0,5.0,0.0,5.0,0.0,3.0,6.0,...,2.162162,1.621622,0.0,18.918919,5.405405,0.000000,0.540541,0.540541,5.405405,62.162162
23,310020,2013,268,5.0,4.0,1.0,5.0,0.0,5.0,12.0,...,4.891304,0.543478,0.0,17.391304,6.521739,0.543478,2.173913,0.543478,1.630435,59.239130
24,310020,2014,260,0.0,0.0,0.0,0.0,0.0,4.0,3.0,...,4.375000,0.000000,0.0,25.000000,6.875000,0.000000,0.625000,0.000000,1.250000,60.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8435,317120,2015,2058,17.0,8.0,1.0,9.0,8.0,18.0,6.0,...,1.228070,0.701754,0.0,15.087719,2.807018,0.701754,0.000000,0.350877,4.561404,73.508772
8436,317120,2016,1920,15.0,8.0,2.0,10.0,5.0,28.0,6.0,...,3.024911,1.957295,0.0,18.505338,2.491103,0.889680,0.533808,0.177936,3.558719,67.793594
8437,317120,2017,1954,24.0,14.0,2.0,16.0,8.0,28.0,7.0,...,4.000000,1.818182,0.0,14.727273,4.909091,1.090909,0.181818,0.000000,2.363636,69.636364
8438,317120,2018,1859,27.0,15.0,5.0,20.0,7.0,17.0,8.0,...,3.208556,3.208556,0.0,18.181818,4.099822,0.891266,0.356506,0.534759,5.347594,62.745098
8439,317120,2019,1804,13.0,6.0,3.0,9.0,4.0,28.0,10.0,...,2.622951,1.803279,0.0,14.918033,3.934426,0.819672,0.819672,0.655738,5.737705,67.049180

In [17]:
coefs.columns

Index(['CODMUNRES', 'ano', 'nascimentos', 'obitos_<1ano', 'obitos_<=6dias',
       'obitos_7a27dias', 'obitos_0a27dias', 'obitos_28a364dias',
       'obitos_fetais', 'obitos_capI', 'obitos_capIV', 'obitos_capV',
       'obitos_capVII', 'obitos_capIX', 'obitos_capX', 'obitos_capXII',
       'obitos_capXIV', 'obitos_capXVI', 'obitos_capXX', 'obitos_capOutros',
       'obitos_maternos', 'obitos', 'tx_mort_infantil', 'tx_mort_neonatal',
       'tx_mort_neonatalpre', 'tx_mort_neonataltardia', 'tx_mort_neonatalpos',
       'tx_mort_perinatal', 'razao_mort_materna', 'mort_prop_capI',
       'mort_prop_capIV', 'mort_prop_capV', 'mort_prop_capVII',
       'mort_prop_capIX', 'mort_prop_capX', 'mort_prop_capXII',
       'mort_prop_capXIV', 'mort_prop_capXVI', 'mort_prop_capXX',
       'mort_prop_capOutros'],
      dtype='object')

In [ ]:
obitos_caps = ['obitos_capI', 'obitos_capIV', 'obitos_capV',
               'obitos_capVII', 'obitos_capIX', 'obitos_capX', 'obitos_capXII',
               'obitos_capXIV', 'obitos_capXVI', 'obitos_capXX', 'obitos_capOutros']

soma_obitos = pd.DataFrame()

for col in obitos_caps:
    col_name = "obitos_periodo_" + col[7:]
    
    coefs[col_name] =

In [16]:
coefs.to_csv("coeficientes.csv", index=False)