In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
sih = pd.read_csv("sih.csv", encoding='latin-1')
sih

C:\Users\Guilherme Bezerra\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,7,25) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,IDENT,MUNIC_RES,NASC,SEXO,DT_INTER,DT_SAIDA,DIAG_PRINC,DIAG_SECUN,COD_IDADE,IDADE,...,ano_saida,mes_saida,nascimento,idade2,faixaetaria,sexo2,raca2,esc,causa3,agravo
0,1,316240.0,19241231.0,3.0,20091221.0,20091226.0,J960,NaN,4.0,84.0,...,2009.0,12.0,1924-12-31,84.0,>=80anos,F,NaN,NaN,J96,NaN
1,1,316240.0,19930726.0,3.0,20100109.0,20100113.0,A490,NaN,4.0,16.0,...,2010.0,1.0,1993-07-26,16.0,15a19,F,NaN,1.0,A49,NaN
2,1,316240.0,19470723.0,1.0,20100108.0,20100112.0,I500,NaN,4.0,62.0,...,2010.0,1.0,1947-07-23,62.0,60a64,M,NaN,2.0,I50,NaN
3,1,316240.0,19471102.0,1.0,20100110.0,20100115.0,I500,NaN,4.0,62.0,...,2010.0,1.0,1947-11-02,62.0,60a64,M,NaN,3.0,I50,NaN
4,1,316240.0,19880313.0,1.0,20100103.0,20100107.0,J158,NaN,4.0,21.0,...,2010.0,1.0,1988-03-13,21.0,20a24,M,NaN,4.0,J15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12099952,1,315750.0,20030421.0,1.0,20191227.0,20191230.0,J189,0.0,4.0,16.0,...,2019.0,12.0,2003-04-21,16.0,15a19,M,Parda,NaN,J18,NaN
12099953,1,317180.0,19851212.0,1.0,20191227.0,20191231.0,K746,0.0,4.0,34.0,...,2019.0,12.0,1985-12-12,34.0,30a34,M,Parda,NaN,K74,NaN
12099954,1,317180.0,20191129.0,3.0,20191203.0,20191205.0,P599,0.0,2.0,4.0,...,2019.0,12.0,2019-11-29,0.0,0a4,F,Parda,NaN,P59,NaN
12099955,1,317180.0,19850322.0,1.0,20191128.0,20191202.0,F059,0.0,4.0,34.0,...,2019.0,12.0,1985-03-22,34.0,30a34,M,Branca,NaN,F05,NaN
12099956,Binary file (standard input) matches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
sih.columns

Index(['IDENT', 'MUNIC_RES', 'NASC', 'SEXO', 'DT_INTER', 'DT_SAIDA',
       'DIAG_PRINC', 'DIAG_SECUN', 'COD_IDADE', 'IDADE', 'DIAS_PERM', 'MORTE',
       'CAR_INT', 'INSTRU', 'RACA_COR', 'data_inter', 'data_saida',
       'ano_inter', 'mes_inter', 'ano_saida', 'mes_saida', 'nascimento',
       'idade2', 'faixaetaria', 'sexo2', 'raca2', 'esc', 'causa3', 'agravo'],
      dtype='object')

In [4]:
sih['IDENT'].unique()

array([1, 5, '1', 'Binary file (standard input) matches'], dtype=object)

In [5]:
sih.loc[:,'subgrupo'] = np.nan
sih.loc[:,'semana'] = np.nan
sih

,IDENT,MUNIC_RES,NASC,SEXO,DT_INTER,DT_SAIDA,DIAG_PRINC,DIAG_SECUN,COD_IDADE,IDADE,...,nascimento,idade2,faixaetaria,sexo2,raca2,esc,causa3,agravo,subgrupo,semana
0,1,316240.0,19241231.0,3.0,20091221.0,20091226.0,J960,NaN,4.0,84.0,...,1924-12-31,84.0,>=80anos,F,NaN,NaN,J96,NaN,NaN,NaN
1,1,316240.0,19930726.0,3.0,20100109.0,20100113.0,A490,NaN,4.0,16.0,...,1993-07-26,16.0,15a19,F,NaN,1.0,A49,NaN,NaN,NaN
2,1,316240.0,19470723.0,1.0,20100108.0,20100112.0,I500,NaN,4.0,62.0,...,1947-07-23,62.0,60a64,M,NaN,2.0,I50,NaN,NaN,NaN
3,1,316240.0,19471102.0,1.0,20100110.0,20100115.0,I500,NaN,4.0,62.0,...,1947-11-02,62.0,60a64,M,NaN,3.0,I50,NaN,NaN,NaN
4,1,316240.0,19880313.0,1.0,20100103.0,20100107.0,J158,NaN,4.0,21.0,...,1988-03-13,21.0,20a24,M,NaN,4.0,J15,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12099952,1,315750.0,20030421.0,1.0,20191227.0,20191230.0,J189,0.0,4.0,16.0,...,2003-04-21,16.0,15a19,M,Parda,NaN,J18,NaN,NaN,NaN
12099953,1,317180.0,19851212.0,1.0,20191227.0,20191231.0,K746,0.0,4.0,34.0,...,1985-12-12,34.0,30a34,M,Parda,NaN,K74,NaN,NaN,NaN
12099954,1,317180.0,20191129.0,3.0,20191203.0,20191205.0,P599,0.0,2.0,4.0,...,2019-11-29,0.0,0a4,F,Parda,NaN,P59,NaN,NaN,NaN
12099955,1,317180.0,19850322.0,1.0,20191128.0,20191202.0,F059,0.0,4.0,34.0,...,1985-03-22,34.0,30a34,M,Branca,NaN,F05,NaN,NaN,NaN
12099956,Binary file (standard input) matches,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.read_csv("Planilha para o R - Planilha.csv")
df = df.drop(labels='Unnamed: 0', axis=1)
df = df.fillna(0)
df.columns = ['cidsize', 'cid', 'agravo', 'subgrupo']
df

     cidsize  cid    agravo    subgrupo
0          3  A00    colera           0
1          3  A09  diarreia           0
2          3  A01      odip  febreenter
3          3  A02      odip   salmonela
4          3  A03      odip  shiguelose
..       ...  ...       ...         ...
978        3  X80  suicidio           0
979        3  X81  suicidio           0
980        3  X82  suicidio           0
981        3  X83  suicidio           0
982        3  X84  suicidio           0

[983 rows x 4 columns]

In [ ]:
#itera por cada linha da planilha
for row in df.itertuples():
    #se o código cid tem 3 dígitos verificamos na coluna causa3
    if row[1] == 3:
        sih.loc[(sih['causa3'] == row[2]), 'agravo'] = row[3]
        
        #verifica se a doença pertence a algum subgrupo
        if row[4] != 0:
            sih.loc[(sih['causa3'] == row[2]), 'subgrupo'] = row[4]
    
    #se o código cid tem 4 dígitos verificamos na coluna DIAG_PRINC
    elif row[1] == 4:
        sih.loc[(sih['DIAG_PRINC'] == row[2]), 'agravo'] = row[3]
        
        #verifica se a doença pertence a algum subgrupo
        if row[4] != 0:
            sih.loc[(sih['DIAG_PRINC'] == row[2]), 'subgrupo'] = row[4]

In [ ]:
df = pd.read_csv("planilha - capitulos.csv")
df

In [ ]:
for row in df.itertuples():
    sih.loc[(sih['agravo'] == row[1]), 'capitulo'] = row[2]
    sih.loc[(sih['subgrupo'] == row[1]), 'capitulo'] = row[2]

In [ ]:
sih.to_csv("sih_agravos.csv", index=False)

In [ ]:
sih

In [ ]:
sih.columns