In [1]:
import pandas as pd
import os

In [2]:
#grupos de cidades analisadas
cidades_selecionadas = ["Betim", 'Brumadinho','Curvelo','Esmeraldas','Florestal','Fortuna de Minas',
                        'Igarapé','Juatuba','Maravilhas','Mário Campos','Martinho Campos',
                        'Papagaios','Pará de Minas','Paraopeba','Pequi','Pompéu','São Joaquim de Bicas',
                        'São José da Varginha','Sarzedo']

cidades_limitrofes = ['Abaeté','Araçaí','Belo Horizonte','Belo Vale','Bom Despacho','Bonfim','Cachoeira da Prata',
                      'Caetanópolis','Capim Branco','Conceição do Pará','Contagem','Cordisburgo','Corinto',
                      'Dores do Indaiá','Felixlândia','Ibirité','Igaratinga','Inhaúma','Inimutaba','Itaúna',
                      'Itabirito','Itatiaiuçu','Leandro Ferreira','Mateus Leme','Matozinhos','Moeda',
                      'Morada Nova de Minas','Morro da Garça','Nova Lima','Onça de Pitangui','Paineiras',
                      'Pedro Leopoldo','Pitangui','Presidente Juscelino','Quartel Geral','Ribeirão das Neves',
                      'Rio Manso','Santana de Pirapama','Santo Hipólito','Sete Lagoas']


cidades_prox_limitrofes = ['Araújos','Augusto de Lima','Baldim','Biquinhas','Carmo do Cajuru','Cedro do Abaeté',
                           'Conceição do Mato Dentro','Confins','Congonhas','Congonhas do Norte','Crucilândia',
                           'Estrela do Indaiá','Funilândia','Gouveia','Itaguara','Jaboticatubas','Jeceaba',
                           'Jequitibá','Lagoa Santa','Lassance','Luz','Moema','Monjolos','Nova Serrana',
                           'Ouro Preto','Piedade dos Gerais','Prudente de Morais',
                           'Raposos','Rio Acima','Sabará','São Gonçalo do Abaeté','São Gonçalo do Pará',
                           'São Gotardo','São José da Lapa','Santa Bárbara','Santa Luzia','Santana do Riacho',
                           'Santo Antônio do Monte','Serra da Saudade','Tiros','Vespasiano']


#gera uma lista com o ID de todas as cidades a serem avaliadas
todas = cidades_selecionadas + cidades_limitrofes + cidades_prox_limitrofes

In [3]:
def trata_dados(df, filename):
    df['id_municipio'] = df['Município'].str[:6].astype('int64') #coluna do codigo do municipio
    df['municipio'] = df['Município'].str[7:] #coluna do nome do municipio
    
    df.drop('Município', axis=1, inplace=True)
    
    df = df[df['municipio'].isin(todas)]
    
    return df

In [4]:
df = pd.read_csv("./csvs_socioeconomicos/pop_res_estimativas_TCU_2010-2019.csv", encoding='latin1', sep=';')

df = trata_dados(df, "pops")

df

,pop10,pop11,pop12,pop13,pop14,pop15,pop16,pop17,pop18,pop19,id_municipio,municipio
1,22700,22716,22740,23451,23494,23535,23574,23611,23223,23237,310020,Abaeté
34,2247,2251,2258,2335,2344,2352,2361,2368,2341,2347,310320,Araçaí
42,7884,8011,8135,8517,8645,8768,8885,8996,9142,9273,310390,Araújos
52,4962,4945,4930,5062,5051,5041,5032,5023,4888,4869,310480,Augusto de Lima
54,7917,7895,7877,8093,8082,8071,8061,8051,7851,7826,310500,Baldim
...,...,...,...,...,...,...,...,...,...,...,...,...
769,25798,26470,27104,28625,29270,29889,30478,31037,32069,32752,316553,Sarzedo
782,815,811,807,825,822,818,815,812,786,781,316660,Serra da Saudade
789,214071,216400,218574,227571,229887,232107,234221,236228,237286,239639,316720,Sete Lagoas
808,6906,6855,6806,6955,6912,6871,6832,6795,6539,6480,316890,Tiros
843,104612,106685,108771,114365,116506,118557,120510,122365,125376,127601,317120,Vespasiano

In [5]:
aux = pd.read_csv("./csvs_socioeconomicos/pib_percapita10-18.csv", encoding='latin1', sep=';')

df = df.merge(aux, how='left', on='id_municipio')
df.drop('municipio_y', axis=1, inplace=True)
df.columns = ['pop10', 'pop11', 'pop12', 'pop13', 'pop14', 'pop15', 'pop16', 'pop17',
       'pop18', 'pop19', 'id_municipio', 'municipio',
       'pib_per_capita10', 'pib_per_capita11', 'pib_per_capita12',
       'pib_per_capita13', 'pib_per_capita14', 'pib_per_capita15',
       'pib_per_capita16', 'pib_per_capita17', 'pib_per_capita18']

df = df[['municipio', 'id_municipio', 'pop10', 'pop11', 'pop12', 'pop13', 'pop14', 'pop15', 'pop16', 'pop17',
       'pop18', 'pop19', 'pib_per_capita10',
       'pib_per_capita11', 'pib_per_capita12', 'pib_per_capita13',
       'pib_per_capita14', 'pib_per_capita15', 'pib_per_capita16',
       'pib_per_capita17', 'pib_per_capita18']]

df

,municipio,id_municipio,pop10,pop11,pop12,pop13,pop14,pop15,pop16,pop17,...,pop19,pib_per_capita10,pib_per_capita11,pib_per_capita12,pib_per_capita13,pib_per_capita14,pib_per_capita15,pib_per_capita16,pib_per_capita17,pib_per_capita18
0,Abaeté,310020,22700,22716,22740,23451,23494,23535,23574,23611,...,23237,9970.25,10935.43,11932.97,13038.79,14882.01,14429.87,18243.05,18043.61,21286.43
1,Araçaí,310320,2247,2251,2258,2335,2344,2352,2361,2368,...,2347,14344.81,12540.57,13817.20,14600.98,15926.45,16441.15,19193.15,24551.72,23704.57
2,Araújos,310390,7884,8011,8135,8517,8645,8768,8885,8996,...,9273,14733.27,19579.67,22966.66,24605.04,27593.40,27110.81,29952.10,34479.56,33338.17
3,Augusto de Lima,310480,4962,4945,4930,5062,5051,5041,5032,5023,...,4869,8546.65,8728.61,9704.88,10430.15,11396.52,11658.29,12675.85,12852.15,14581.54
4,Baldim,310500,7917,7895,7877,8093,8082,8071,8061,8051,...,7826,7659.58,7423.52,10115.62,8964.74,10042.51,9900.11,12687.01,13367.15,14332.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sarzedo,316553,25798,26470,27104,28625,29270,29889,30478,31037,...,32752,15305.52,22242.15,25487.05,27767.16,32127.09,24731.34,26037.92,28848.27,28322.86
96,Serra da Saudade,316660,815,811,807,825,822,818,815,812,...,781,12864.27,14868.65,14828.63,17204.15,18620.71,20291.64,21977.43,23497.80,23904.53
97,Sete Lagoas,316720,214071,216400,218574,227571,229887,232107,234221,236228,...,239639,27190.17,29592.20,31398.79,35770.19,35035.78,33092.29,31032.30,34992.75,35933.26
98,Tiros,316890,6906,6855,6806,6955,6912,6871,6832,6795,...,6480,12396.02,16643.84,16587.41,19227.75,20216.05,21687.48,26896.58,28048.39,30236.46
99,Vespasiano,317120,104612,106685,108771,114365,116506,118557,120510,122365,...,127601,14923.36,19761.35,21538.55,20567.09,22815.13,26106.55,23398.82,21215.13,19415.59

In [6]:
directory = os.fsencode("./csvs_socioeconomicos")

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    
    if filename != ('pib_percapita10-18.csv' or 'pop_res_estimativas_TCU_2010-2019.csv'):
        aux = pd.read_csv(f"./csvs_socioeconomicos/" + filename, encoding='latin1', sep=";")
        aux.drop(aux.tail(1).index, inplace=True) #remove a linha com os dados agregados do estado (indesejada)

        aux = trata_dados(aux, filename)

        df = df.merge(aux)
        
    if 'Serra da Saudade' not in df['municipio'].unique():
        print(f"nao tem no {filename}")
        break

In [7]:
df

,municipio,id_municipio,pop10,pop11,pop12,pop13,pop14,pop15,pop16,pop17,...,%_crianças_renda_dom_<_1/4_SM,%idosos_resid_como_out_parente - Mulheres,%idosos_resid_como_out_parente - Homens,%idosos_resid_como_out_parente - Total,razaorenda - 1991,razaorenda - 2000,razaorenda - 2010,Renda_média_domic._per_capita,Taxa_de_desemprego_16a_e+,Taxa_de_trabalho_infantil
0,Abaeté,310020,22700,22716,22740,23451,23494,23535,23574,23611,...,"11,49","12,0","6,1","9,2","13,18","18,34","15,09","699,66","4,44","8,71"
1,Araçaí,310320,2247,2251,2258,2335,2344,2352,2361,2368,...,"18,75","8,7","6,9","7,9","10,92","12,87","10,08","477,79","5,13","4,53"
2,Araújos,310390,7884,8011,8135,8517,8645,8768,8885,8996,...,"2,65","6,4","4,2","5,3","9,89","9,17","6,4","590,21","1,63","26,15"
3,Augusto de Lima,310480,4962,4945,4930,5062,5051,5041,5032,5023,...,"24,46","7,5","7,8","7,7","9,17","14,71","8,6","381,71","8,52","14,06"
4,Baldim,310500,7917,7895,7877,8093,8082,8071,8061,8051,...,"24,00","17,1","3,7","11,2","13,57","19,26","11,03","455,69","8,57","8,33"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Sarzedo,316553,25798,26470,27104,28625,29270,29889,30478,31037,...,"8,47","25,6","8,5","17,5",...,"11,41","10,33","639,98","7,63","11,42"
96,Serra da Saudade,316660,815,811,807,825,822,818,815,812,...,"12,64","4,2",NaN,"1,8","7,22","18,87","7,37","490,63",NaN,"5,56"
97,Sete Lagoas,316720,214071,216400,218574,227571,229887,232107,234221,236228,...,"11,44","16,4","8,6","13,0","18,5","19,67","15,27","801,73","8,21","9,49"
98,Tiros,316890,6906,6855,6806,6955,6912,6871,6832,6795,...,"20,63","15,1","3,4","9,3","16,75","11,84","23,66","603,33","1,93","14,87"
99,Vespasiano,317120,104612,106685,108771,114365,116506,118557,120510,122365,...,"14,79","19,9","10,1","15,7","14,97","19,37","10,59","525,50","7,78","5,31"

In [8]:
import numpy as np
main_list = np.setdiff1d(todas, df['municipio'].unique())
main_list

array([], dtype='<U24')

In [9]:
df.to_csv("dados_socieconomicos.csv", encoding='latin1')