In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sih.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,145.243282,284.900285,0.000000,1944.158315,1950.509972,0.000000,145.243282,284.900285,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13871995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.000000,209.500511,66.357001,0.000000,102.145046,3.0
13871996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13871997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13871998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
13871999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['inter_total'] = df['inter_total'].astype('uint32')
df['inter_homem'] = df['inter_homem'].astype('uint32')
df['inter_mulher'] = df['inter_mulher'].astype('uint32')
df['taxa_inter_total'] = df['taxa_inter_total'].astype('float32')
df['taxa_inter_homem'] = df['taxa_inter_homem'].astype('float32')
df['taxa_inter_mulher'] = df['taxa_inter_mulher'].astype('float32')
df['inter_esp_total'] = df['inter_esp_total'].astype('float32')
df['inter_esp_homem'] = df['inter_esp_homem'].astype('float32')
df['inter_esp_mulher'] = df['inter_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_inter_esp_total'] = df['taxa_inter_esp_total'].astype('float32')
df['taxa_inter_esp_homem'] = df['taxa_inter_esp_homem'].astype('float32')
df['taxa_inter_esp_mulher'] = df['taxa_inter_esp_mulher'].astype('float32')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13872000 entries, 0 to 13871999
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   municipio              object
 1   id_municipio           uint32
 2   ano                    uint16
 3   faixa_etaria           object
 4   pop_total              uint64
 5   pop_pad_total          uint64
 6   pop_homem              uint64
 7   pop_pad_homem          uint64
 8   pop_mulher             uint64
 9   pop_pad_mulher         uint64
 10  mes                    uint8
 11  agravo                 object
 12  inter_total            uint32
 13  inter_homem            uint32
 14  inter_mulher           uint32
 15  taxa_inter_total       float32
 16  taxa_inter_homem       float32
 17  taxa_inter_mulher      float32
 18  inter_esp_total        float32
 19  inter_esp_homem        float32
 20  inter_esp_mulher       float32
 21  taxa_inter_esp_total   float32
 22  taxa_inter_esp_homem   float32
 23  taxa_inter_esp_mulher  float32
 24  grupo                  uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 1.7+ GB

In [3]:
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,145.243286,284.900299,0.000000,1944.158325,1950.51001,0.000000,145.243286,284.900299,0.000000,2
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13871995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357002,0.000000,102.145042,221.985397,0.00000,209.500504,66.357002,0.000000,102.145042,3
13871996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3
13871997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3
13871998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3
13871999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3

In [4]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [5]:
df_sf['taxa_inter_total'] = (df_sf['inter_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_inter_homem'] = (df_sf['inter_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_inter_mulher'] = (df_sf['inter_mulher'] / df_sf['pop_mulher']) * 100000

#df_sf['taxa_inter_esp_total'] = (df_sf['inter_esp_total'] / df_sf['pop_pad_total']) * 100000
#df_sf['taxa_inter_esp_homem'] = (df_sf['inter_esp_homem'] / df_sf['pop_pad_homem']) * 100000
#df_sf['taxa_inter_esp_mulher'] = (df_sf['inter_esp_mulher'] / df_sf['pop_pad_mulher']) * 100000

In [6]:
df_sf.to_csv('taxa_sih.csv', index=False)

In [7]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['inter_total'] = df_sf['inter_total'].astype('uint32')
df_sf['inter_homem'] = df_sf['inter_homem'].astype('uint32')
df_sf['inter_mulher'] = df_sf['inter_mulher'].astype('uint32')
df_sf['taxa_inter_total'] = df_sf['taxa_inter_total'].astype('float32')
df_sf['taxa_inter_homem'] = df_sf['taxa_inter_homem'].astype('float32')
df_sf['taxa_inter_mulher'] = df_sf['taxa_inter_mulher'].astype('float32')
df_sf['inter_esp_total'] = df_sf['inter_esp_total'].astype('float32')
df_sf['inter_esp_homem'] = df_sf['inter_esp_homem'].astype('float32')
df_sf['inter_esp_mulher'] = df_sf['inter_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_inter_esp_total'] = df_sf['taxa_inter_esp_total'].astype('float32')
df_sf['taxa_inter_esp_homem'] = df_sf['taxa_inter_esp_homem'].astype('float32')
df_sf['taxa_inter_esp_mulher'] = df_sf['taxa_inter_esp_mulher'].astype('float32')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 816000 entries, 0 to 815999
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   municipio              816000 non-null  object
 1   id_municipio           816000 non-null  uint32
 2   ano                    816000 non-null  uint16
 3   mes                    816000 non-null  uint8
 4   agravo                 816000 non-null  object
 5   grupo                  816000 non-null  uint8
 6   pop_total              816000 non-null  uint64
 7   pop_pad_total          816000 non-null  uint64
 8   pop_homem              816000 non-null  uint64
 9   pop_pad_homem          816000 non-null  uint64
 10  pop_mulher             816000 non-null  uint64
 11  pop_pad_mulher         816000 non-null  uint64
 12  inter_total            816000 non-null  uint32
 13  inter_homem            816000 non-null  uint32
 14  inter_mulher           816000 non-null  uint32
 15  taxa_inter_total       816000 non-null  float32
 16  taxa_inter_homem       816000 non-null  float32
 17  taxa_inter_mulher      816000 non-null  float32
 18  inter_esp_total        816000 non-null  float32
 19  inter_esp_homem        816000 non-null  float32
 20  inter_esp_mulher       816000 non-null  float32
 21  taxa_inter_esp_total   816000 non-null  float32
 22  taxa_inter_esp_homem   816000 non-null  float32
 23  taxa_inter_esp_mulher  816000 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 99.6+ MB

In [8]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,inter_mulher,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher
89760,Brumadinho,310900,2010,1,acidente,1,34597,19957444,17353,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89761,Brumadinho,310900,2010,1,amebiase,1,34597,19957444,17353,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89762,Brumadinho,310900,2010,1,ancilosto,1,34597,19957444,17353,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89763,Brumadinho,310900,2010,1,ascaridiase,1,34597,19957444,17353,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89764,Brumadinho,310900,2010,1,asma,1,34597,19957444,17353,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97915,Brumadinho,310900,2019,12,transtafetivos,1,40103,19957444,20167,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97916,Brumadinho,310900,2019,12,transtneuro,1,40103,19957444,20167,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97917,Brumadinho,310900,2019,12,tricuriose,1,40103,19957444,20167,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97918,Brumadinho,310900,2019,12,tubresp,1,40103,19957444,20167,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97919,Brumadinho,310900,2019,12,veneno,1,40103,19957444,20167,9828254,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0