In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sih_cap.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,145.243282,284.900285,0.000000,1944.158315,1950.509972,0.000000,145.243282,284.900285,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.000000,209.500511,66.357001,0.000000,102.145046,3.0
1835996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['inter_total'] = df['inter_total'].astype('uint32')
df['inter_homem'] = df['inter_homem'].astype('uint32')
df['inter_mulher'] = df['inter_mulher'].astype('uint32')
df['taxa_inter_total'] = df['taxa_inter_total'].astype('float32')
df['taxa_inter_homem'] = df['taxa_inter_homem'].astype('float32')
df['taxa_inter_mulher'] = df['taxa_inter_mulher'].astype('float32')
df['inter_esp_total'] = df['inter_esp_total'].astype('float32')
df['inter_esp_homem'] = df['inter_esp_homem'].astype('float32')
df['inter_esp_mulher'] = df['inter_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_inter_esp_total'] = df['taxa_inter_esp_total'].astype('float32')
df['taxa_inter_esp_homem'] = df['taxa_inter_esp_homem'].astype('float32')
df['taxa_inter_esp_mulher'] = df['taxa_inter_esp_mulher'].astype('float32')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836000 entries, 0 to 1835999
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   municipio              object
 1   id_municipio           uint32
 2   ano                    uint16
 3   faixa_etaria           object
 4   pop_total              uint64
 5   pop_pad_total          uint64
 6   pop_homem              uint64
 7   pop_pad_homem          uint64
 8   pop_mulher             uint64
 9   pop_pad_mulher         uint64
 10  mes                    uint8
 11  capitulo               object
 12  inter_total            uint32
 13  inter_homem            uint32
 14  inter_mulher           uint32
 15  taxa_inter_total       float32
 16  taxa_inter_homem       float32
 17  taxa_inter_mulher      float32
 18  inter_esp_total        float32
 19  inter_esp_homem        float32
 20  inter_esp_mulher       float32
 21  taxa_inter_esp_total   float32
 22  taxa_inter_esp_homem   float32
 23  taxa_inter_esp_mulher  float32
 24  grupo                  uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 224.1+ MB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'capitulo', 'grupo'], as_index=False).sum()

In [4]:
df_sf['taxa_inter_total'] = (df_sf['inter_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_inter_homem'] = (df_sf['inter_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_inter_mulher'] = (df_sf['inter_mulher'] / df_sf['pop_mulher']) * 100000

In [5]:
df_sf

,municipio,id_municipio,ano,mes,capitulo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,inter_mulher,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher
0,Abaeté,310020,2010,1,I,2,23107,19957444,11442,9828254,...,2,17.310772,17.479462,17.145306,3794.426270,1950.510010,1854.992432,268.776337,284.900299,253.164551
1,Abaeté,310020,2010,1,IV,2,23107,19957444,11442,9828254,...,4,30.293850,26.219192,34.290613,5103.918945,2042.676758,3024.819580,763.139587,784.215576,768.806091
2,Abaeté,310020,2010,1,IX,2,23107,19957444,11442,9828254,...,5,60.587701,78.657577,42.863266,10286.818359,6612.012695,3573.875488,1875.482422,2184.275391,1549.094604
3,Abaeté,310020,2010,1,V,2,23107,19957444,11442,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Abaeté,310020,2010,1,X,2,23107,19957444,11442,9828254,...,1,12.983079,17.479462,8.572653,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107995,Vespasiano,317120,2019,12,X,3,127601,19957444,61757,9828254,...,7,12.539087,14.573247,10.631189,2572.197021,1450.194336,1131.645752,267.199646,299.692139,224.199173
107996,Vespasiano,317120,2019,12,XII,3,127601,19957444,61757,9828254,...,8,8.620622,4.857749,12.149930,1702.039062,492.372162,1198.884644,164.502151,113.645226,208.832550
107997,Vespasiano,317120,2019,12,XIV,3,127601,19957444,61757,9828254,...,3,7.053236,9.715498,4.556224,1439.049561,999.383789,469.694519,142.703979,230.580444,72.422920
107998,Vespasiano,317120,2019,12,XVI,3,127601,19957444,61757,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
107999,Vespasiano,317120,2019,12,XX,3,127601,19957444,61757,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
df_sf.to_csv('taxa_sih_cap.csv', index=False)

In [7]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['inter_total'] = df_sf['inter_total'].astype('uint32')
df_sf['inter_homem'] = df_sf['inter_homem'].astype('uint32')
df_sf['inter_mulher'] = df_sf['inter_mulher'].astype('uint32')
df_sf['taxa_inter_total'] = df_sf['taxa_inter_total'].astype('float32')
df_sf['taxa_inter_homem'] = df_sf['taxa_inter_homem'].astype('float32')
df_sf['taxa_inter_mulher'] = df_sf['taxa_inter_mulher'].astype('float32')
df_sf['inter_esp_total'] = df_sf['inter_esp_total'].astype('float32')
df_sf['inter_esp_homem'] = df_sf['inter_esp_homem'].astype('float32')
df_sf['inter_esp_mulher'] = df_sf['inter_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_inter_esp_total'] = df_sf['taxa_inter_esp_total'].astype('float32')
df_sf['taxa_inter_esp_homem'] = df_sf['taxa_inter_esp_homem'].astype('float32')
df_sf['taxa_inter_esp_mulher'] = df_sf['taxa_inter_esp_mulher'].astype('float32')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108000 entries, 0 to 107999
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   municipio              108000 non-null  object
 1   id_municipio           108000 non-null  uint32
 2   ano                    108000 non-null  uint16
 3   mes                    108000 non-null  uint8
 4   capitulo               108000 non-null  object
 5   grupo                  108000 non-null  uint8
 6   pop_total              108000 non-null  uint64
 7   pop_pad_total          108000 non-null  uint64
 8   pop_homem              108000 non-null  uint64
 9   pop_pad_homem          108000 non-null  uint64
 10  pop_mulher             108000 non-null  uint64
 11  pop_pad_mulher         108000 non-null  uint64
 12  inter_total            108000 non-null  uint32
 13  inter_homem            108000 non-null  uint32
 14  inter_mulher           108000 non-null  uint32
 15  taxa_inter_total       108000 non-null  float32
 16  taxa_inter_homem       108000 non-null  float32
 17  taxa_inter_mulher      108000 non-null  float32
 18  inter_esp_total        108000 non-null  float32
 19  inter_esp_homem        108000 non-null  float32
 20  inter_esp_mulher       108000 non-null  float32
 21  taxa_inter_esp_total   108000 non-null  float32
 22  taxa_inter_esp_homem   108000 non-null  float32
 23  taxa_inter_esp_mulher  108000 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 13.2+ MB

In [8]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,capitulo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,inter_mulher,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher
11880,Brumadinho,310900,2010,1,I,1,34597,19957444,17353,9828254,...,2,8.671272,5.762692,11.598237,1758.404663,576.009949,1163.565796,121.997925,66.225166,177.935944
11881,Brumadinho,310900,2010,1,IV,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1164.578857,569.713074,623.129211,298.722778,434.782623,211.864410
11882,Brumadinho,310900,2010,1,IX,1,34597,19957444,17353,9828254,...,0,11.561696,23.050770,0.000000,2428.740723,2378.762939,0.000000,622.906372,1515.973633,0.000000
11883,Brumadinho,310900,2010,1,V,1,34597,19957444,17353,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11884,Brumadinho,310900,2010,1,X,1,34597,19957444,17353,9828254,...,1,17.342545,28.813461,5.799119,3697.060791,3036.062988,581.782898,864.918091,1867.832275,88.967972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,Brumadinho,310900,2019,12,X,1,40103,19957444,20167,9828254,...,2,9.974317,9.917192,10.032103,1793.232910,769.971863,1029.630249,277.552643,496.378723,134.475540
12956,Brumadinho,310900,2019,12,XII,1,40103,19957444,20167,9828254,...,5,29.922949,34.710171,25.080257,5361.690918,3107.357422,2202.744873,797.473938,955.015320,636.184937
12957,Brumadinho,310900,2019,12,XIV,1,40103,19957444,20167,9828254,...,1,4.987158,4.958596,5.016051,929.231445,512.427429,418.629242,65.031197,57.836899,70.621468
12958,Brumadinho,310900,2019,12,XVI,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12959,Brumadinho,310900,2019,12,XX,1,40103,19957444,20167,9828254,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000