In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sim.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14687995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
14687996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
14687997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,862.641009,2462.121212,1327.885598,2885.810219,3186.748106,2723.506639,862.641009,2462.121212,1327.885598,3.0
14687998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,862.641009,2462.121212,1327.885598,2885.810219,3186.748106,2723.506639,862.641009,2462.121212,1327.885598,3.0
14687999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['obitos_total'] = df['obitos_total'].astype('uint32')
df['obitos_homem'] = df['obitos_homem'].astype('uint32')
df['obitos_mulher'] = df['obitos_mulher'].astype('uint32')
df['taxa_obitos_total'] = df['taxa_obitos_total'].astype('float32')
df['taxa_obitos_homem'] = df['taxa_obitos_homem'].astype('float32')
df['taxa_obitos_mulher'] = df['taxa_obitos_mulher'].astype('float32')
df['obitos_esp_total'] = df['obitos_esp_total'].astype('float32')
df['obitos_esp_homem'] = df['obitos_esp_homem'].astype('float32')
df['obitos_esp_mulher'] = df['obitos_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_obitos_esp_total'] = df['taxa_obitos_esp_total'].astype('float32')
df['taxa_obitos_esp_homem'] = df['taxa_obitos_esp_homem'].astype('float32')
df['taxa_obitos_esp_mulher'] = df['taxa_obitos_esp_mulher'].astype('float32')

df.to_hdf("pre_taxa_sim.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14688000 entries, 0 to 14687999
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   municipio               object
 1   id_municipio            uint32
 2   ano                     uint16
 3   faixa_etaria            object
 4   pop_total               uint64
 5   pop_pad_total           uint64
 6   pop_homem               uint64
 7   pop_pad_homem           uint64
 8   pop_mulher              uint64
 9   pop_pad_mulher          uint64
 10  mes                     uint8
 11  agravo                  object
 12  obitos_total            uint32
 13  obitos_homem            uint32
 14  obitos_mulher           uint32
 15  taxa_obitos_total       float32
 16  taxa_obitos_homem       float32
 17  taxa_obitos_mulher      float32
 18  obitos_esp_total        float32
 19  obitos_esp_homem        float32
 20  obitos_esp_mulher       float32
 21  taxa_obitos_esp_total   float32
 22  taxa_obitos_esp_homem   float32
 23  taxa_obitos_esp_mulher  float32
 24  grupo                   uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 1.8+ GB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [11]:
df_sf.groupby(['municipio', 'id_municipio'])['obitos_esp_total'].mean()

municipio             id_municipio
Abaeté                310020          325.934784
Araçaí                310320          283.134735
Araújos               310390          309.005463
Augusto de Lima       310480          281.177429
Baldim                310500          353.480164
                                         ...
São Joaquim de Bicas  316292          333.455811
São José da Lapa      316295          322.579651
São José da Varginha  316310          273.086548
Tiros                 316890          338.993591
Vespasiano            317120          346.003540
Name: obitos_esp_total, Length: 100, dtype: float32

In [12]:
df_sf.groupby(['ano'])['obitos_esp_total'].mean()

ano
2010    342.925629
2011    343.910950
2012    337.419067
2013    321.360809
2014    321.840515
2015    322.133240
2016    324.644012
2017    316.744904
2018    310.160919
2019    314.301910
Name: obitos_esp_total, dtype: float32

In [ ]:
df_sf[df_sf['obitos_esp_total']]

In [4]:
df_sm = df_sf.groupby(['municipio', 'id_municipio', 'ano', 'agravo', 'grupo'], as_index=False).sum()

In [14]:
df_sm.groupby(['municipio', 'id_municipio'])['obitos_esp_total'].mean()

municipio             id_municipio
Abaeté                310020          3911.217529
Araçaí                310320          3397.616699
Araújos               310390          3708.065430
Augusto de Lima       310480          3374.129395
Baldim                310500          4241.761719
                                         ...
São Joaquim de Bicas  316292          4001.469727
São José da Lapa      316295          3870.955566
São José da Varginha  316310          3277.038330
Tiros                 316890          4067.923096
Vespasiano            317120          4152.042480
Name: obitos_esp_total, Length: 100, dtype: float32

In [13]:
df_sf.groupby(['ano'])['obitos_esp_total'].mean()

ano
2010    342.925629
2011    343.910950
2012    337.419067
2013    321.360809
2014    321.840515
2015    322.133240
2016    324.644012
2017    316.744904
2018    310.160919
2019    314.301910
Name: obitos_esp_total, dtype: float32

In [5]:
df_sm['pop_total'] = df_sm['pop_total'] / 12
df_sm['pop_homem'] = df_sm['pop_homem'] / 12
df_sm['pop_mulher'] = df_sm['pop_mulher'] / 12

df_sm['pop_pad_total'] = df_sm['pop_pad_total'] / 12
df_sm['pop_pad_homem'] = df_sm['pop_pad_homem'] / 12
df_sm['pop_pad_mulher'] = df_sm['pop_pad_mulher'] / 12

df_sm['taxa_obitos_total'] = (df_sm['obitos_total'] / df_sm['pop_total']) * 100000
df_sm['taxa_obitos_homem'] = (df_sm['obitos_homem'] / df_sm['pop_homem']) * 100000
df_sm['taxa_obitos_mulher'] = (df_sm['obitos_mulher'] / df_sm['pop_mulher']) * 100000

df_sm['taxa_obitos_esp_total'] = (df_sm['obitos_esp_total'] / df_sm['pop_pad_total']) * 100000
df_sm['taxa_obitos_esp_homem'] = (df_sm['obitos_esp_homem'] / df_sm['pop_pad_homem']) * 100000
df_sm['taxa_obitos_esp_mulher'] = (df_sm['obitos_esp_mulher'] / df_sm['pop_pad_mulher']) * 100000

In [9]:
df_sm

,municipio,id_municipio,ano,agravo,grupo,mes,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
0,Abaeté,310020,2010,acidente,2,78,23107.0,19957444.0,11442.0,9828254.0,...,2,21.638465,26.219192,17.145306,4455.001953,2734.456055,1713.762695,22.322508,27.822399,16.919050
1,Abaeté,310020,2010,amebiase,2,78,23107.0,19957444.0,11442.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,Abaeté,310020,2010,ancilosto,2,78,23107.0,19957444.0,11442.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Abaeté,310020,2010,ascaridiase,2,78,23107.0,19957444.0,11442.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,Abaeté,310020,2010,asma,2,78,23107.0,19957444.0,11442.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71995,Vespasiano,317120,2019,transtafetivos,3,78,127601.0,19957444.0,61757.0,9828254.0,...,1,0.783693,0.000000,1.518741,163.782578,0.000000,153.585907,0.820659,0.000000,1.516270
71996,Vespasiano,317120,2019,transtneuro,3,78,127601.0,19957444.0,61757.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
71997,Vespasiano,317120,2019,tricuriose,3,78,127601.0,19957444.0,61757.0,9828254.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
71998,Vespasiano,317120,2019,tubresp,3,78,127601.0,19957444.0,61757.0,9828254.0,...,1,4.702158,8.096248,1.518741,982.403870,877.645203,147.444458,4.922493,8.929818,1.455639
71999,Vespasiano,317120,2019,veneno,3,78,127601.0,19957444.0,61757.0,9828254.0,...,1,2.351079,3.238499,1.518741,443.973785,292.829834,160.675232,2.224602,2.979470,1.586259

In [7]:
df_sm.to_csv('taxa_sim.csv', index=False)

In [9]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['obitos_total'] = df_sf['obitos_total'].astype('uint32')
df_sf['obitos_homem'] = df_sf['obitos_homem'].astype('uint32')
df_sf['obitos_mulher'] = df_sf['obitos_mulher'].astype('uint32')
df_sf['taxa_obitos_total'] = df_sf['taxa_obitos_total'].astype('float32')
df_sf['taxa_obitos_homem'] = df_sf['taxa_obitos_homem'].astype('float32')
df_sf['taxa_obitos_mulher'] = df_sf['taxa_obitos_mulher'].astype('float32')
df_sf['obitos_esp_total'] = df_sf['obitos_esp_total'].astype('float32')
df_sf['obitos_esp_homem'] = df_sf['obitos_esp_homem'].astype('float32')
df_sf['obitos_esp_mulher'] = df_sf['obitos_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_obitos_esp_total'] = df_sf['taxa_obitos_esp_total'].astype('float32')
df_sf['taxa_obitos_esp_homem'] = df_sf['taxa_obitos_esp_homem'].astype('float32')
df_sf['taxa_obitos_esp_mulher'] = df_sf['taxa_obitos_esp_mulher'].astype('float32')

df_sf.to_hdf('taxa_sim.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864000 entries, 0 to 863999
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   municipio               864000 non-null  object
 1   id_municipio            864000 non-null  uint32
 2   ano                     864000 non-null  uint16
 3   mes                     864000 non-null  uint8
 4   agravo                  864000 non-null  object
 5   grupo                   864000 non-null  uint8
 6   pop_total               864000 non-null  uint64
 7   pop_pad_total           864000 non-null  uint64
 8   pop_homem               864000 non-null  uint64
 9   pop_pad_homem           864000 non-null  uint64
 10  pop_mulher              864000 non-null  uint64
 11  pop_pad_mulher          864000 non-null  uint64
 12  obitos_total            864000 non-null  uint32
 13  obitos_homem            864000 non-null  uint32
 14  obitos_mulher           864000 non-null  uint32
 15  taxa_obitos_total       864000 non-null  float32
 16  taxa_obitos_homem       864000 non-null  float32
 17  taxa_obitos_mulher      864000 non-null  float32
 18  obitos_esp_total        864000 non-null  float32
 19  obitos_esp_homem        864000 non-null  float32
 20  obitos_esp_mulher       864000 non-null  float32
 21  taxa_obitos_esp_total   864000 non-null  float32
 22  taxa_obitos_esp_homem   864000 non-null  float32
 23  taxa_obitos_esp_mulher  864000 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 105.5+ MB

In [12]:
df_sm[(df_sm['municipio'] == 'Brumadinho') & (df_sm['ano'] == 2010)]

,municipio,id_municipio,ano,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
7920,Brumadinho,310900,2010,acidente,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,4,26.013816,28.813462,23.196474,5232.701172,2917.701172,2361.430176,26.219295,29.686872,23.31312
7921,Brumadinho,310900,2010,amebiase,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7922,Brumadinho,310900,2010,ancilosto,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7923,Brumadinho,310900,2010,ascaridiase,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7924,Brumadinho,310900,2010,asma,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,2.890424,5.762692,0.000000,582.221558,569.713074,0.000000,2.917315,5.796687,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7987,Brumadinho,310900,2010,transtafetivos,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7988,Brumadinho,310900,2010,transtneuro,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7989,Brumadinho,310900,2010,tricuriose,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7990,Brumadinho,310900,2010,tubresp,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
7991,Brumadinho,310900,2010,veneno,1,34597.0,19957444.0,17353.0,9828254.0,17244.0,...,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000