In [15]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sih_cap.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,145.243282,284.900285,0.000000,1944.158315,1950.509972,0.000000,145.243282,284.900285,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.000000,209.500511,66.357001,0.000000,102.145046,3.0
1835996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0
1835999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0

In [16]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['inter_total'] = df['inter_total'].astype('uint32')
df['inter_homem'] = df['inter_homem'].astype('uint32')
df['inter_mulher'] = df['inter_mulher'].astype('uint32')
df['taxa_inter_total'] = df['taxa_inter_total'].astype('float32')
df['taxa_inter_homem'] = df['taxa_inter_homem'].astype('float32')
df['taxa_inter_mulher'] = df['taxa_inter_mulher'].astype('float32')
df['inter_esp_total'] = df['inter_esp_total'].astype('float32')
df['inter_esp_homem'] = df['inter_esp_homem'].astype('float32')
df['inter_esp_mulher'] = df['inter_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_inter_esp_total'] = df['taxa_inter_esp_total'].astype('float32')
df['taxa_inter_esp_homem'] = df['taxa_inter_esp_homem'].astype('float32')
df['taxa_inter_esp_mulher'] = df['taxa_inter_esp_mulher'].astype('float32')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836000 entries, 0 to 1835999
Data columns (total 25 columns):
 #   Column                 Dtype
---  ------                 -----
 0   municipio              object
 1   id_municipio           uint32
 2   ano                    uint16
 3   faixa_etaria           object
 4   pop_total              uint64
 5   pop_pad_total          uint64
 6   pop_homem              uint64
 7   pop_pad_homem          uint64
 8   pop_mulher             uint64
 9   pop_pad_mulher         uint64
 10  mes                    uint8
 11  capitulo               object
 12  inter_total            uint32
 13  inter_homem            uint32
 14  inter_mulher           uint32
 15  taxa_inter_total       float32
 16  taxa_inter_homem       float32
 17  taxa_inter_mulher      float32
 18  inter_esp_total        float32
 19  inter_esp_homem        float32
 20  inter_esp_mulher       float32
 21  taxa_inter_esp_total   float32
 22  taxa_inter_esp_homem   float32
 23  taxa_inter_esp_mulher  float32
 24  grupo                  uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 224.1+ MB

In [17]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'capitulo'], as_index=False).sum()

In [18]:
#df_total_agravo = df.groupby(['id_municipio','agravo', 'ano', 'mes'], as_index=False)['inter_total'].sum()
df_total = df.groupby(['id_municipio', 'ano', 'mes'], as_index=False)['inter_total'].sum()

In [19]:
df_total.columns = ['id_municipio', 'ano', 'mes', 'total_inter_loc']
df_total

       id_municipio   ano  mes  total_inter_loc
0            310020  2010    1               30
1            310020  2010    2               15
2            310020  2010    3               24
3            310020  2010    4               25
4            310020  2010    5               27
...             ...   ...  ...              ...
11995        317120  2019    8              101
11996        317120  2019    9              112
11997        317120  2019   10               76
11998        317120  2019   11               99
11999        317120  2019   12               52

[12000 rows x 4 columns]

In [20]:
df_sf = df_sf.merge(df_total, on=['id_municipio', 'ano', 'mes'])
df_sf

,municipio,id_municipio,ano,mes,capitulo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_homem,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc
0,Abaeté,310020,2010,1,I,23107,19957444,11442,9828254,11665,...,284.900299,253.164551,3794.426270,1950.510010,1854.992432,268.776337,284.900299,253.164551,34,30
1,Abaeté,310020,2010,1,IV,23107,19957444,11442,9828254,11665,...,784.215576,768.806091,5103.918945,2042.676758,3024.819580,763.139587,784.215576,768.806091,34,30
2,Abaeté,310020,2010,1,IX,23107,19957444,11442,9828254,11665,...,2184.275391,1549.094604,10286.818359,6612.012695,3573.875488,1875.482422,2184.275391,1549.094604,34,30
3,Abaeté,310020,2010,1,V,23107,19957444,11442,9828254,11665,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34,30
4,Abaeté,310020,2010,1,X,23107,19957444,11442,9828254,11665,...,559.030640,367.647064,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064,34,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107995,Vespasiano,317120,2019,12,X,127601,19957444,61757,9828254,65844,...,299.692139,224.199173,2572.197021,1450.194336,1131.645752,267.199646,299.692139,224.199173,51,52
107996,Vespasiano,317120,2019,12,XII,127601,19957444,61757,9828254,65844,...,113.645226,208.832550,1702.039062,492.372162,1198.884644,164.502151,113.645226,208.832550,51,52
107997,Vespasiano,317120,2019,12,XIV,127601,19957444,61757,9828254,65844,...,230.580444,72.422920,1439.049561,999.383789,469.694519,142.703979,230.580444,72.422920,51,52
107998,Vespasiano,317120,2019,12,XVI,127601,19957444,61757,9828254,65844,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,51,52
107999,Vespasiano,317120,2019,12,XX,127601,19957444,61757,9828254,65844,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,51,52

In [21]:
df_sf['taxa_nova'] = np.nan
df_sf['taxa_nova'] = df_sf['inter_total']/df_sf['pop_total']
df_sf[df_sf['taxa_nova'] > 0]

,municipio,id_municipio,ano,mes,capitulo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
0,Abaeté,310020,2010,1,I,23107,19957444,11442,9828254,11665,...,253.164551,3794.426270,1950.510010,1854.992432,268.776337,284.900299,253.164551,34,30,0.000173
1,Abaeté,310020,2010,1,IV,23107,19957444,11442,9828254,11665,...,768.806091,5103.918945,2042.676758,3024.819580,763.139587,784.215576,768.806091,34,30,0.000303
2,Abaeté,310020,2010,1,IX,23107,19957444,11442,9828254,11665,...,1549.094604,10286.818359,6612.012695,3573.875488,1875.482422,2184.275391,1549.094604,34,30,0.000606
4,Abaeté,310020,2010,1,X,23107,19957444,11442,9828254,11665,...,367.647064,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064,34,30,0.000130
5,Abaeté,310020,2010,1,XII,23107,19957444,11442,9828254,11665,...,0.000000,681.343689,655.645264,0.000000,124.069481,257.069397,0.000000,34,30,0.000043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107993,Vespasiano,317120,2019,12,IX,127601,19957444,61757,9828254,65844,...,198.944641,1974.096313,1234.718506,765.665405,300.424591,443.392090,198.944641,51,52,0.000094
107994,Vespasiano,317120,2019,12,V,127601,19957444,61757,9828254,65844,...,0.000000,158.595566,156.607697,0.000000,9.100838,17.799929,0.000000,51,52,0.000008
107995,Vespasiano,317120,2019,12,X,127601,19957444,61757,9828254,65844,...,224.199173,2572.197021,1450.194336,1131.645752,267.199646,299.692139,224.199173,51,52,0.000125
107996,Vespasiano,317120,2019,12,XII,127601,19957444,61757,9828254,65844,...,208.832550,1702.039062,492.372162,1198.884644,164.502151,113.645226,208.832550,51,52,0.000086
107997,Vespasiano,317120,2019,12,XIV,127601,19957444,61757,9828254,65844,...,72.422920,1439.049561,999.383789,469.694519,142.703979,230.580444,72.422920,51,52,0.000071

In [22]:
df_sf

,municipio,id_municipio,ano,mes,capitulo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
0,Abaeté,310020,2010,1,I,23107,19957444,11442,9828254,11665,...,253.164551,3794.426270,1950.510010,1854.992432,268.776337,284.900299,253.164551,34,30,0.000173
1,Abaeté,310020,2010,1,IV,23107,19957444,11442,9828254,11665,...,768.806091,5103.918945,2042.676758,3024.819580,763.139587,784.215576,768.806091,34,30,0.000303
2,Abaeté,310020,2010,1,IX,23107,19957444,11442,9828254,11665,...,1549.094604,10286.818359,6612.012695,3573.875488,1875.482422,2184.275391,1549.094604,34,30,0.000606
3,Abaeté,310020,2010,1,V,23107,19957444,11442,9828254,11665,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,34,30,0.000000
4,Abaeté,310020,2010,1,X,23107,19957444,11442,9828254,11665,...,367.647064,2103.757812,1382.757080,754.047791,465.652557,559.030640,367.647064,34,30,0.000130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107995,Vespasiano,317120,2019,12,X,127601,19957444,61757,9828254,65844,...,224.199173,2572.197021,1450.194336,1131.645752,267.199646,299.692139,224.199173,51,52,0.000125
107996,Vespasiano,317120,2019,12,XII,127601,19957444,61757,9828254,65844,...,208.832550,1702.039062,492.372162,1198.884644,164.502151,113.645226,208.832550,51,52,0.000086
107997,Vespasiano,317120,2019,12,XIV,127601,19957444,61757,9828254,65844,...,72.422920,1439.049561,999.383789,469.694519,142.703979,230.580444,72.422920,51,52,0.000071
107998,Vespasiano,317120,2019,12,XVI,127601,19957444,61757,9828254,65844,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,51,52,0.000000
107999,Vespasiano,317120,2019,12,XX,127601,19957444,61757,9828254,65844,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,51,52,0.000000

In [23]:
df_sf.to_csv('taxa_sih_cap.csv', index=False)

In [24]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['inter_total'] = df_sf['inter_total'].astype('uint32')
df_sf['inter_homem'] = df_sf['inter_homem'].astype('uint32')
df_sf['inter_mulher'] = df_sf['inter_mulher'].astype('uint32')
df_sf['taxa_inter_total'] = df_sf['taxa_inter_total'].astype('float32')
df_sf['taxa_inter_homem'] = df_sf['taxa_inter_homem'].astype('float32')
df_sf['taxa_inter_mulher'] = df_sf['taxa_inter_mulher'].astype('float32')
df_sf['inter_esp_total'] = df_sf['inter_esp_total'].astype('float32')
df_sf['inter_esp_homem'] = df_sf['inter_esp_homem'].astype('float32')
df_sf['inter_esp_mulher'] = df_sf['inter_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_inter_esp_total'] = df_sf['taxa_inter_esp_total'].astype('float32')
df_sf['taxa_inter_esp_homem'] = df_sf['taxa_inter_esp_homem'].astype('float32')
df_sf['taxa_inter_esp_mulher'] = df_sf['taxa_inter_esp_mulher'].astype('float32')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108000 entries, 0 to 107999
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   municipio              108000 non-null  object
 1   id_municipio           108000 non-null  uint32
 2   ano                    108000 non-null  uint16
 3   mes                    108000 non-null  uint8
 4   capitulo               108000 non-null  object
 5   pop_total              108000 non-null  uint64
 6   pop_pad_total          108000 non-null  uint64
 7   pop_homem              108000 non-null  uint64
 8   pop_pad_homem          108000 non-null  uint64
 9   pop_mulher             108000 non-null  uint64
 10  pop_pad_mulher         108000 non-null  uint64
 11  inter_total            108000 non-null  uint32
 12  inter_homem            108000 non-null  uint32
 13  inter_mulher           108000 non-null  uint32
 14  taxa_inter_total       108000 non-null  float32
 15  taxa_inter_homem       108000 non-null  float32
 16  taxa_inter_mulher      108000 non-null  float32
 17  inter_esp_total        108000 non-null  float32
 18  inter_esp_homem        108000 non-null  float32
 19  inter_esp_mulher       108000 non-null  float32
 20  taxa_inter_esp_total   108000 non-null  float32
 21  taxa_inter_esp_homem   108000 non-null  float32
 22  taxa_inter_esp_mulher  108000 non-null  float32
 23  grupo                  108000 non-null  uint8
 24  total_inter_loc        108000 non-null  uint32
 25  taxa_nova              108000 non-null  float64
dtypes: float32(9), float64(1), object(2), uint16(1), uint32(5), uint64(6), uint8(2)
memory usage: 14.4+ MB

In [25]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,capitulo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,taxa_inter_mulher,inter_esp_total,inter_esp_homem,inter_esp_mulher,taxa_inter_esp_total,taxa_inter_esp_homem,taxa_inter_esp_mulher,grupo,total_inter_loc,taxa_nova
11880,Brumadinho,310900,2010,1,I,34597,19957444,17353,9828254,17244,...,177.935944,1758.404663,576.009949,1163.565796,121.997925,66.225166,177.935944,17,19,0.000087
11881,Brumadinho,310900,2010,1,IV,34597,19957444,17353,9828254,17244,...,211.864410,1164.578857,569.713074,623.129211,298.722778,434.782623,211.864410,17,19,0.000058
11882,Brumadinho,310900,2010,1,IX,34597,19957444,17353,9828254,17244,...,0.000000,2428.740723,2378.762939,0.000000,622.906372,1515.973633,0.000000,17,19,0.000116
11883,Brumadinho,310900,2010,1,V,34597,19957444,17353,9828254,17244,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17,19,0.000000
11884,Brumadinho,310900,2010,1,X,34597,19957444,17353,9828254,17244,...,88.967972,3697.060791,3036.062988,581.782898,864.918091,1867.832275,88.967972,17,19,0.000173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,Brumadinho,310900,2019,12,X,40103,19957444,20167,9828254,19936,...,134.475540,1793.232910,769.971863,1029.630249,277.552643,496.378723,134.475540,17,23,0.000100
12956,Brumadinho,310900,2019,12,XII,40103,19957444,20167,9828254,19936,...,636.184937,5361.690918,3107.357422,2202.744873,797.473938,955.015320,636.184937,17,23,0.000299
12957,Brumadinho,310900,2019,12,XIV,40103,19957444,20167,9828254,19936,...,70.621468,929.231445,512.427429,418.629242,65.031197,57.836899,70.621468,17,23,0.000050
12958,Brumadinho,310900,2019,12,XVI,40103,19957444,20167,9828254,19936,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17,23,0.000000
12959,Brumadinho,310900,2019,12,XX,40103,19957444,20167,9828254,19936,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17,23,0.000000