In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sih.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,inter_total,inter_homem,inter_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,1,colera,0,0,0,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,1,diarreia,0,0,0,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,1,odip,2,2,0,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,1,tubresp,0,0,0,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,1,tbsistnerv,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14891995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,outraspele,0,0,0,3.0
14891996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,veneno,0,0,0,3.0
14891997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,total,6,6,6,3.0
14891998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,naturais,6,6,6,3.0
14891999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,externas,0,0,0,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['inter_total'] = df['inter_total'].astype('uint32')
df['inter_homem'] = df['inter_homem'].astype('uint32')
df['inter_mulher'] = df['inter_mulher'].astype('uint32')
df['grupo'] = df['grupo'].astype('uint8')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14892000 entries, 0 to 14891999
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   municipio       object
 1   id_municipio    uint32
 2   ano             uint16
 3   faixa_etaria    object
 4   pop_total       uint64
 5   pop_pad_total   uint64
 6   pop_homem       uint64
 7   pop_pad_homem   uint64
 8   pop_mulher      uint64
 9   pop_pad_mulher  uint64
 10  mes             uint8
 11  agravo          object
 12  inter_total     uint32
 13  inter_homem     uint32
 14  inter_mulher    uint32
 15  grupo           uint8
dtypes: object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 1.3+ GB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'agravo', 'grupo'], as_index=False).sum()

In [4]:
df_sf['pop_total'] = df_sf['pop_total'] / 12
df_sf['pop_homem'] = df_sf['pop_homem'] / 12
df_sf['pop_mulher'] = df_sf['pop_mulher'] / 12

df_sf['taxa_inter_total'] = (df_sf['inter_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_inter_homem'] = (df_sf['inter_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_inter_mulher'] = (df_sf['inter_mulher'] / df_sf['pop_mulher']) * 100000

In [5]:
df_sf

,municipio,id_municipio,ano,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,inter_total,inter_homem,inter_mulher,taxa_inter_total,taxa_inter_homem,taxa_inter_mulher
0,Abaeté,310020,2010,acidente,2,23107.0,239489328,11442.0,117939048,11665.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
1,Abaeté,310020,2010,amebiase,2,23107.0,239489328,11442.0,117939048,11665.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
2,Abaeté,310020,2010,ancilosto,2,23107.0,239489328,11442.0,117939048,11665.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
3,Abaeté,310020,2010,ascaridiase,2,23107.0,239489328,11442.0,117939048,11665.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
4,Abaeté,310020,2010,asma,2,23107.0,239489328,11442.0,117939048,11665.0,121550280,1326.0,3,2,1,12.983079,17.479462,8.572653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72995,Vespasiano,317120,2019,transtafetivos,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,50,20,30,39.184646,32.384993,45.562238
72996,Vespasiano,317120,2019,transtneuro,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,2,1,1,1.567386,1.619250,1.518741
72997,Vespasiano,317120,2019,tricuriose,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
72998,Vespasiano,317120,2019,tubresp,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,14,13,1,10.971701,21.050245,1.518741
72999,Vespasiano,317120,2019,veneno,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000

In [6]:
df_sf.to_csv('taxa_sih.csv', index=False)

In [7]:
df_sf['agravo'].unique()

array(['acidente', 'amebiase', 'ancilosto', 'ascaridiase', 'asma',
       'broncoeq', 'bronquite', 'chagas', 'cisticercose', 'colera',
       'conjuntivinv', 'conjuntivite', 'dengue', 'dermato', 'dhipert',
       'diabetesm', 'diarreia', 'doecv', 'doencviaaer', 'doenisquem',
       'doenpele', 'enterobiose', 'equinoco', 'esquisto', 'estrongilo',
       'externas', 'externas_S', 'externas_T', 'extintind', 'extmorbmort',
       'exttrauma', 'febreamarela', 'febreenter', 'filariose',
       'hepatitea', 'hipertensao', 'homicidio', 'iamrecor',
       'infecespperi', 'infecpele', 'infecvirais', 'insufrenal',
       'leishteg', 'leishvisc', 'lepto', 'malaria', 'micose', 'naturais',
       'odip', 'outradoenresp', 'outraleish', 'outrasdavai',
       'outrasiibac', 'outraspele', 'pneumoco', 'protozoarios',
       'salmonela', 'shiguelose', 'suicidio', 'tbgenurin', 'tbintestino',
       'tbmiliar', 'tbossea', 'tbsistnerv', 'teniase', 'tmusopsico',
       'total', 'tracoma', 'transtafetivos', 'transtneuro', 'tricuriose',
       'tubresp', 'veneno'], dtype=object)

In [8]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['inter_total'] = df_sf['inter_total'].astype('uint32')
df_sf['inter_homem'] = df_sf['inter_homem'].astype('uint32')
df_sf['inter_mulher'] = df_sf['inter_mulher'].astype('uint32')
df_sf['taxa_inter_total'] = df_sf['taxa_inter_total'].astype('float32')
df_sf['taxa_inter_homem'] = df_sf['taxa_inter_homem'].astype('float32')
df_sf['taxa_inter_mulher'] = df_sf['taxa_inter_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73000 entries, 0 to 72999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   municipio          73000 non-null  object
 1   id_municipio       73000 non-null  uint32
 2   ano                73000 non-null  uint16
 3   agravo             73000 non-null  object
 4   grupo              73000 non-null  uint8
 5   pop_total          73000 non-null  uint64
 6   pop_pad_total      73000 non-null  uint64
 7   pop_homem          73000 non-null  uint64
 8   pop_pad_homem      73000 non-null  uint64
 9   pop_mulher         73000 non-null  uint64
 10  pop_pad_mulher     73000 non-null  uint64
 11  mes                73000 non-null  uint8
 12  inter_total        73000 non-null  uint32
 13  inter_homem        73000 non-null  uint32
 14  inter_mulher       73000 non-null  uint32
 15  taxa_inter_total   73000 non-null  float32
 16  taxa_inter_homem   73000 non-null  float32
 17  taxa_inter_mulher  73000 non-null  float32
dtypes: float32(3), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 7.2+ MB