In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sim.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5894333,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.00000,209.500511,66.357001,0.000000,102.145046,3.0
5894334,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,189.393939,0.000000,221.985401,245.13447,0.000000,66.357001,189.393939,0.000000,3.0
5894335,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.00000,209.500511,66.357001,0.000000,102.145046,3.0
5894336,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.00000,209.500511,66.357001,0.000000,102.145046,3.0
5894337,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.000000,102.145046,221.985401,0.00000,209.500511,66.357001,0.000000,102.145046,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['obitos_total'] = df['obitos_total'].astype('uint32')
df['obitos_homem'] = df['obitos_homem'].astype('uint32')
df['obitos_mulher'] = df['obitos_mulher'].astype('uint32')
df['taxa_obitos_total'] = df['taxa_obitos_total'].astype('float32')
df['taxa_obitos_homem'] = df['taxa_obitos_homem'].astype('float32')
df['taxa_obitos_mulher'] = df['taxa_obitos_mulher'].astype('float32')
df['obitos_esp_total'] = df['obitos_esp_total'].astype('float32')
df['obitos_esp_homem'] = df['obitos_esp_homem'].astype('float32')
df['obitos_esp_mulher'] = df['obitos_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_obitos_esp_total'] = df['taxa_obitos_esp_total'].astype('float32')
df['taxa_obitos_esp_homem'] = df['taxa_obitos_esp_homem'].astype('float32')
df['taxa_obitos_esp_mulher'] = df['taxa_obitos_esp_mulher'].astype('float32')

df.to_hdf("pre_taxa_sim.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5894338 entries, 0 to 5894337
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   municipio               object
 1   id_municipio            uint32
 2   ano                     uint16
 3   faixa_etaria            object
 4   pop_total               uint64
 5   pop_pad_total           uint64
 6   pop_homem               uint64
 7   pop_pad_homem           uint64
 8   pop_mulher              uint64
 9   pop_pad_mulher          uint64
 10  mes                     uint8
 11  agravo                  object
 12  capitulo                object
 13  obitos_total            uint32
 14  obitos_homem            uint32
 15  obitos_mulher           uint32
 16  taxa_obitos_total       float32
 17  taxa_obitos_homem       float32
 18  taxa_obitos_mulher      float32
 19  obitos_esp_total        float32
 20  obitos_esp_homem        float32
 21  obitos_esp_mulher       float32
 22  taxa_obitos_esp_total   float32
 23  taxa_obitos_esp_homem   float32
 24  taxa_obitos_esp_mulher  float32
 25  grupo                   uint8
dtypes: float32(9), object(4), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 764.5+ MB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'agravo', 'grupo'], as_index=False).sum()

In [4]:
df_sf['taxa_obitos_total'] = (df_sf['obitos_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_obitos_homem'] = (df_sf['obitos_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_obitos_mulher'] = (df_sf['obitos_mulher'] / df_sf['pop_mulher']) * 100000

df_sf['taxa_obitos_esp_total'] = (df_sf['obitos_esp_total'] / df_sf['pop_pad_total']) * 100000
df_sf['taxa_obitos_esp_homem'] = (df_sf['obitos_esp_homem'] / df_sf['pop_pad_homem']) * 100000
df_sf['taxa_obitos_esp_mulher'] = (df_sf['obitos_esp_mulher'] / df_sf['pop_pad_mulher']) * 100000

In [5]:
df_sf

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
0,Abaeté,310020,2010,1,I,2,24991,21322102,12355,10470128,...,1,20.007203,32.375556,7.913897,3541.686035,2810.997559,705.316528,16.610398,26.847786,6.499431
1,Abaeté,310020,2010,1,IV,2,24991,21322102,12355,10470128,...,1,20.007203,32.375556,7.913897,3541.686035,2810.997559,705.316528,16.610398,26.847786,6.499431
2,Abaeté,310020,2010,1,IX,2,24991,21322102,12355,10470128,...,1,20.007203,32.375556,7.913897,3541.686035,2810.997559,705.316528,16.610398,26.847786,6.499431
3,Abaeté,310020,2010,1,V,2,24991,21322102,12355,10470128,...,1,20.007203,32.375556,7.913897,3541.686035,2810.997559,705.316528,16.610398,26.847786,6.499431
4,Abaeté,310020,2010,1,X,2,24991,21322102,12355,10470128,...,1,20.007203,32.375556,7.913897,3541.686035,2810.997559,705.316528,16.610398,26.847786,6.499431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274315,Vespasiano,317120,2019,12,transtafetivos,3,181822,28806303,86234,13984245,...,5,10.999769,17.394531,5.230782,3562.632812,2762.263184,923.390442,12.367546,19.752680,6.229840
274316,Vespasiano,317120,2019,12,transtneuro,3,181822,28806303,86234,13984245,...,5,10.999769,17.394531,5.230782,3562.632812,2762.263184,923.390442,12.367546,19.752680,6.229840
274317,Vespasiano,317120,2019,12,tricuriose,3,181822,28806303,86234,13984245,...,5,10.999769,17.394531,5.230782,3562.632812,2762.263184,923.390442,12.367546,19.752680,6.229840
274318,Vespasiano,317120,2019,12,tubresp,3,181822,28806303,86234,13984245,...,5,10.999769,17.394531,5.230782,3562.632812,2762.263184,923.390442,12.367546,19.752680,6.229840
274319,Vespasiano,317120,2019,12,veneno,3,181822,28806303,86234,13984245,...,5,10.999769,17.394531,5.230782,3562.632812,2762.263184,923.390442,12.367546,19.752680,6.229840

In [6]:
df_sf.to_csv('taxa_sim.csv', index=False)

In [7]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['obitos_total'] = df_sf['obitos_total'].astype('uint32')
df_sf['obitos_homem'] = df_sf['obitos_homem'].astype('uint32')
df_sf['obitos_mulher'] = df_sf['obitos_mulher'].astype('uint32')
df_sf['taxa_obitos_total'] = df_sf['taxa_obitos_total'].astype('float32')
df_sf['taxa_obitos_homem'] = df_sf['taxa_obitos_homem'].astype('float32')
df_sf['taxa_obitos_mulher'] = df_sf['taxa_obitos_mulher'].astype('float32')
df_sf['obitos_esp_total'] = df_sf['obitos_esp_total'].astype('float32')
df_sf['obitos_esp_homem'] = df_sf['obitos_esp_homem'].astype('float32')
df_sf['obitos_esp_mulher'] = df_sf['obitos_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_obitos_esp_total'] = df_sf['taxa_obitos_esp_total'].astype('float32')
df_sf['taxa_obitos_esp_homem'] = df_sf['taxa_obitos_esp_homem'].astype('float32')
df_sf['taxa_obitos_esp_mulher'] = df_sf['taxa_obitos_esp_mulher'].astype('float32')

df_sf.to_hdf('taxa_sim.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274320 entries, 0 to 274319
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   municipio               274320 non-null  object
 1   id_municipio            274320 non-null  uint32
 2   ano                     274320 non-null  uint16
 3   mes                     274320 non-null  uint8
 4   agravo                  274320 non-null  object
 5   grupo                   274320 non-null  uint8
 6   pop_total               274320 non-null  uint64
 7   pop_pad_total           274320 non-null  uint64
 8   pop_homem               274320 non-null  uint64
 9   pop_pad_homem           274320 non-null  uint64
 10  pop_mulher              274320 non-null  uint64
 11  pop_pad_mulher          274320 non-null  uint64
 12  obitos_total            274320 non-null  uint32
 13  obitos_homem            274320 non-null  uint32
 14  obitos_mulher           274320 non-null  uint32
 15  taxa_obitos_total       274320 non-null  float32
 16  taxa_obitos_homem       274320 non-null  float32
 17  taxa_obitos_mulher      274320 non-null  float32
 18  obitos_esp_total        274320 non-null  float32
 19  obitos_esp_homem        274320 non-null  float32
 20  obitos_esp_mulher       274320 non-null  float32
 21  taxa_obitos_esp_total   274320 non-null  float32
 22  taxa_obitos_esp_homem   274320 non-null  float32
 23  taxa_obitos_esp_mulher  274320 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 33.5+ MB

In [8]:
df_sf[df_sf['municipio'] == 'Brumadinho']

,municipio,id_municipio,ano,mes,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
11880,Brumadinho,310900,2010,1,I,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1218.349731,637.591125,623.129211,6.104738,6.487329,6.151817
11881,Brumadinho,310900,2010,1,IV,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1218.349731,637.591125,623.129211,6.104738,6.487329,6.151817
11882,Brumadinho,310900,2010,1,IX,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1218.349731,637.591125,623.129211,6.104738,6.487329,6.151817
11883,Brumadinho,310900,2010,1,V,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1218.349731,637.591125,623.129211,6.104738,6.487329,6.151817
11884,Brumadinho,310900,2010,1,X,1,34597,19957444,17353,9828254,...,1,5.780848,5.762692,5.799119,1218.349731,637.591125,623.129211,6.104738,6.487329,6.151817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12955,Brumadinho,310900,2019,12,X,1,42017,20682544,21141,10172029,...,2,21.419901,33.111015,9.580379,3826.204346,2972.094727,790.491089,18.499680,29.218307,7.520955
12956,Brumadinho,310900,2019,12,XII,1,42017,20682544,21141,10172029,...,2,21.419901,33.111015,9.580379,3826.204346,2972.094727,790.491089,18.499680,29.218307,7.520955
12957,Brumadinho,310900,2019,12,XIV,1,42017,20682544,21141,10172029,...,2,21.419901,33.111015,9.580379,3826.204346,2972.094727,790.491089,18.499680,29.218307,7.520955
12958,Brumadinho,310900,2019,12,XVI,1,42017,20682544,21141,10172029,...,2,21.419901,33.111015,9.580379,3826.204346,2972.094727,790.491089,18.499680,29.218307,7.520955
12959,Brumadinho,310900,2019,12,XX,1,42017,20682544,21141,10172029,...,2,21.419901,33.111015,9.580379,3826.204346,2972.094727,790.491089,18.499680,29.218307,7.520955