In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sinan.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,notificacoes_total,notificacoes_homem,notificacoes_mulher,grupo
0,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,esquisto,0,0,0,2.0
1,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishvisc,0,0,0,2.0
2,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishteg,0,0,0,2.0
3,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,tubresp,0,0,0,2.0
4,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,colera,0,0,0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999195,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,intoxicacao,0,0,0,3.0
1999196,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,lepto,0,0,0,3.0
1999197,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,malaria,0,0,0,3.0
1999198,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,sindrome,0,0,0,3.0
1999199,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,homicidio,0,0,0,3.0

In [20]:
df[df['notificacoes_total'] > 0]

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,notificacoes_total,notificacoes_homem,notificacoes_mulher,grupo
223,Araçaí,310320,2013,0a4,140,1338553,72,684629,68,653924,4,homicidio,1,1,0,2
821,Baldim,310500,2013,0a4,517,1338553,267,684629,250,653924,11,intoxicacao,1,0,1,3
849,Belo Horizonte,310620,2013,0a4,133385,1338553,68209,684629,65176,653924,1,intoxicacao,14,6,8,2
853,Belo Horizonte,310620,2013,0a4,133385,1338553,68209,684629,65176,653924,1,homicidio,9,7,2,2
863,Belo Horizonte,310620,2013,0a4,133385,1338553,68209,684629,65176,653924,2,intoxicacao,23,15,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998757,Sete Lagoas,316720,2019,>=80anos,4656,334532,1654,129431,3002,205101,5,dengue,21,14,7,2
1998771,Sete Lagoas,316720,2019,>=80anos,4656,334532,1654,129431,3002,205101,6,dengue,8,3,5,2
1998785,Sete Lagoas,316720,2019,>=80anos,4656,334532,1654,129431,3002,205101,7,dengue,2,1,1,2
1998953,Tiros,316890,2019,>=80anos,215,334532,94,129431,121,205101,7,dengue,1,1,0,3
1999093,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,5,dengue,1,1,0,3

In [9]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['notificacoes_total'] = df['notificacoes_total'].astype('uint32')
df['notificacoes_homem'] = df['notificacoes_homem'].astype('uint32')
df['notificacoes_mulher'] = df['notificacoes_mulher'].astype('uint32')
df['grupo'] = df['grupo'].astype('uint8')

#df.to_hdf("pre_taxa_sih.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999200 entries, 0 to 1999199
Data columns (total 16 columns):
 #   Column               Dtype
---  ------               -----
 0   municipio            object
 1   id_municipio         uint32
 2   ano                  uint16
 3   faixa_etaria         object
 4   pop_total            uint64
 5   pop_pad_total        uint64
 6   pop_homem            uint64
 7   pop_pad_homem        uint64
 8   pop_mulher           uint64
 9   pop_pad_mulher       uint64
 10  mes                  uint8
 11  agravo               object
 12  notificacoes_total   uint32
 13  notificacoes_homem   uint32
 14  notificacoes_mulher  uint32
 15  grupo                uint8
dtypes: object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 175.4+ MB

In [10]:
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,agravo,notificacoes_total,notificacoes_homem,notificacoes_mulher,grupo
0,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,esquisto,0,0,0,2
1,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishvisc,0,0,0,2
2,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,leishteg,0,0,0,2
3,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,tubresp,0,0,0,2
4,Abaeté,310020,2013,0a4,1309,1338553,669,684629,640,653924,1,colera,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999195,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,intoxicacao,0,0,0,3
1999196,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,lepto,0,0,0,3
1999197,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,malaria,0,0,0,3
1999198,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,sindrome,0,0,0,3
1999199,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,12,homicidio,0,0,0,3

In [17]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'agravo', 'grupo'], as_index=False).sum()

In [18]:
df_sf['pop_total'] = df_sf['pop_total'] / 12
df_sf['pop_homem'] = df_sf['pop_homem'] / 12
df_sf['pop_mulher'] = df_sf['pop_mulher'] / 12

df_sf['taxa_notific_total'] = (df_sf['notificacoes_total'] / df_sf['pop_total']) * 100000
df_sf['taxa_notific_homem'] = (df_sf['notificacoes_homem'] / df_sf['pop_homem']) * 100000
df_sf['taxa_notific_mulher'] = (df_sf['notificacoes_mulher'] / df_sf['pop_mulher']) * 100000

In [13]:
df_sf.to_csv('taxa_sinan.csv', index=False)

In [19]:
df_sf

,municipio,id_municipio,ano,agravo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,mes,notificacoes_total,notificacoes_homem,notificacoes_mulher,taxa_notific_total,taxa_notific_homem,taxa_notific_mulher
0,Abaeté,310020,2013,chagas,2,23151.0,239489328,11477.0,117939048,11674.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
1,Abaeté,310020,2013,colera,2,23151.0,239489328,11477.0,117939048,11674.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
2,Abaeté,310020,2013,dengue,2,23151.0,239489328,11477.0,117939048,11674.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
3,Abaeté,310020,2013,esquisto,2,23151.0,239489328,11477.0,117939048,11674.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
4,Abaeté,310020,2013,febreamarela,2,23151.0,239489328,11477.0,117939048,11674.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,Vespasiano,317120,2019,leishvisc,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,4,3,1,3.134772,4.857749,1.518741
9796,Vespasiano,317120,2019,lepto,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,1,1,0,0.783693,1.619250,0.000000
9797,Vespasiano,317120,2019,malaria,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,2,1,1,1.567386,1.619250,1.518741
9798,Vespasiano,317120,2019,sindrome,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,0,0,0,0.000000,0.000000,0.000000
9799,Vespasiano,317120,2019,tubresp,3,127601.0,239489328,61757.0,117939048,65844.0,121550280,1326.0,15,11,4,11.755394,17.811746,6.074965

In [8]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['notificacoes_total'] = df_sf['notificacoes_total'].astype('uint32')
df_sf['notificacoes_homem'] = df_sf['notificacoes_homem'].astype('uint32')
df_sf['notificacoes_mulher'] = df_sf['notificacoes_mulher'].astype('uint32')
df_sf['taxa_notific_total'] = df_sf['taxa_notific_total'].astype('float32')
df_sf['taxa_notific_homem'] = df_sf['taxa_notific_homem'].astype('float32')
df_sf['taxa_notific_mulher'] = df_sf['taxa_notific_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')

#df_sf.to_hdf('taxa_sih.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117600 entries, 0 to 117599
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   municipio            117600 non-null  object
 1   id_municipio         117600 non-null  uint32
 2   ano                  117600 non-null  uint16
 3   mes                  117600 non-null  uint8
 4   agravo               117600 non-null  object
 5   grupo                117600 non-null  uint8
 6   pop_total            117600 non-null  uint64
 7   pop_pad_total        117600 non-null  uint64
 8   pop_homem            117600 non-null  uint64
 9   pop_pad_homem        117600 non-null  uint64
 10  pop_mulher           117600 non-null  uint64
 11  pop_pad_mulher       117600 non-null  uint64
 12  notificacoes_total   117600 non-null  uint32
 13  notificacoes_homem   117600 non-null  uint32
 14  notificacoes_mulher  117600 non-null  uint32
 15  taxa_notific_total   117600 non-null  float32
 16  taxa_notific_homem   117600 non-null  float32
 17  taxa_notific_mulher  117600 non-null  float32
dtypes: float32(3), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 11.7+ MB