In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("pre_taxa_sim_cap.csv")
df

,municipio,id_municipio,ano,faixa_etaria,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,pop_pad_mulher,...,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher,grupo
0,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
1,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
2,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
3,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
4,Abaeté,310020,2010,0a4,1377,1338553,702,684629,675,653924,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1835995,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,66.357001,0.0,102.145046,221.985401,0.0,209.500511,66.357001,0.0,102.145046,3.0
1835996,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
1835997,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
1835998,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0
1835999,Vespasiano,317120,2019,>=80anos,1507,334532,528,129431,979,205101,...,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,3.0

In [2]:
df['id_municipio'] = df['id_municipio'].astype('uint32')
df['ano'] = df['ano'].astype('uint16')
df['pop_total'] = df['pop_total'].astype('uint64')
df['pop_pad_total'] = df['pop_pad_total'].astype('uint64')
df['pop_homem'] = df['pop_homem'].astype('uint64')
df['pop_pad_homem'] = df['pop_pad_homem'].astype('uint64')
df['pop_mulher'] = df['pop_mulher'].astype('uint64')
df['pop_pad_mulher'] = df['pop_pad_mulher'].astype('uint64')
df['mes'] = df['mes'].astype('uint8')
df['obitos_total'] = df['obitos_total'].astype('uint32')
df['obitos_homem'] = df['obitos_homem'].astype('uint32')
df['obitos_mulher'] = df['obitos_mulher'].astype('uint32')
df['taxa_obitos_total'] = df['taxa_obitos_total'].astype('float32')
df['taxa_obitos_homem'] = df['taxa_obitos_homem'].astype('float32')
df['taxa_obitos_mulher'] = df['taxa_obitos_mulher'].astype('float32')
df['obitos_esp_total'] = df['obitos_esp_total'].astype('float32')
df['obitos_esp_homem'] = df['obitos_esp_homem'].astype('float32')
df['obitos_esp_mulher'] = df['obitos_esp_mulher'].astype('float32')
df['grupo'] = df['grupo'].astype('uint8')
df['taxa_obitos_esp_total'] = df['taxa_obitos_esp_total'].astype('float32')
df['taxa_obitos_esp_homem'] = df['taxa_obitos_esp_homem'].astype('float32')
df['taxa_obitos_esp_mulher'] = df['taxa_obitos_esp_mulher'].astype('float32')

df.to_hdf("pre_taxa_sim_cap.h5", "df")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1836000 entries, 0 to 1835999
Data columns (total 25 columns):
 #   Column                  Dtype
---  ------                  -----
 0   municipio               object
 1   id_municipio            uint32
 2   ano                     uint16
 3   faixa_etaria            object
 4   pop_total               uint64
 5   pop_pad_total           uint64
 6   pop_homem               uint64
 7   pop_pad_homem           uint64
 8   pop_mulher              uint64
 9   pop_pad_mulher          uint64
 10  mes                     uint8
 11  capitulo                object
 12  obitos_total            uint32
 13  obitos_homem            uint32
 14  obitos_mulher           uint32
 15  taxa_obitos_total       float32
 16  taxa_obitos_homem       float32
 17  taxa_obitos_mulher      float32
 18  obitos_esp_total        float32
 19  obitos_esp_homem        float32
 20  obitos_esp_mulher       float32
 21  taxa_obitos_esp_total   float32
 22  taxa_obitos_esp_homem   float32
 23  taxa_obitos_esp_mulher  float32
 24  grupo                   uint8
dtypes: float32(9), object(3), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 224.1+ MB

In [3]:
df_sf = df.groupby(['municipio', 'id_municipio', 'ano', 'mes', 'capitulo', 'grupo'], as_index=False).sum()

In [4]:
df_sm = df_sf.groupby(['municipio', 'id_municipio', 'ano', 'capitulo', 'grupo'], as_index=False).sum()

In [5]:
df_sm['pop_total'] = df_sm['pop_total'] / 12
df_sm['pop_homem'] = df_sm['pop_homem'] / 12
df_sm['pop_mulher'] = df_sm['pop_mulher'] / 12

df_sm['pop_pad_total'] = df_sm['pop_pad_total'] / 12
df_sm['pop_pad_homem'] = df_sm['pop_pad_homem'] / 12
df_sm['pop_pad_mulher'] = df_sm['pop_pad_mulher'] / 12

df_sm['taxa_obitos_total'] = (df_sm['obitos_total'] / df_sm['pop_total']) * 100000
df_sm['taxa_obitos_homem'] = (df_sm['obitos_homem'] / df_sm['pop_homem']) * 100000
df_sm['taxa_obitos_mulher'] = (df_sm['obitos_mulher'] / df_sm['pop_mulher']) * 100000

df_sm['taxa_obitos_esp_total'] = (df_sm['obitos_esp_total'] / df_sm['pop_pad_total']) * 100000
df_sm['taxa_obitos_esp_homem'] = (df_sm['obitos_esp_homem'] / df_sm['pop_pad_homem']) * 100000
df_sm['taxa_obitos_esp_mulher'] = (df_sm['obitos_esp_mulher'] / df_sm['pop_pad_mulher']) * 100000

In [6]:
df_sm

,municipio,id_municipio,ano,capitulo,grupo,pop_total,pop_pad_total,pop_homem,pop_pad_homem,pop_mulher,...,obitos_mulher,taxa_obitos_total,taxa_obitos_homem,taxa_obitos_mulher,obitos_esp_total,obitos_esp_homem,obitos_esp_mulher,taxa_obitos_esp_total,taxa_obitos_esp_homem,taxa_obitos_esp_mulher
0,Abaeté,310020,2010,I,2,23107.0,19957444.0,11442.0,9828254.0,11665.0,...,3,12.983079,0.000000,25.717960,2151.771973,0.000000,2155.646973,10.781801,0.000000,21.281534
1,Abaeté,310020,2010,IV,2,23107.0,19957444.0,11442.0,9828254.0,11665.0,...,13,64.915394,17.479462,111.444492,10943.873047,1618.705078,9594.628906,54.836045,16.469915,94.722568
2,Abaeté,310020,2010,IX,2,23107.0,19957444.0,11442.0,9828254.0,11665.0,...,13,147.141559,183.534347,111.444492,24443.341797,14878.163086,9704.454102,122.477316,151.381548,95.806813
3,Abaeté,310020,2010,V,2,23107.0,19957444.0,11442.0,9828254.0,11665.0,...,2,12.983079,8.739731,17.145306,2287.210693,772.625000,1554.838013,11.460439,7.861264,15.350073
4,Abaeté,310020,2010,X,2,23107.0,19957444.0,11442.0,9828254.0,11665.0,...,4,51.932315,69.917847,34.290613,8306.551758,5085.232910,3016.191162,41.621321,51.740959,29.777220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8995,Vespasiano,317120,2019,X,3,127601.0,19957444.0,61757.0,9828254.0,65844.0,...,7,18.808630,27.527244,10.631189,4528.387695,3417.937988,1269.691772,22.690219,34.776655,12.534978
8996,Vespasiano,317120,2019,XII,3,127601.0,19957444.0,61757.0,9828254.0,65844.0,...,4,3.918465,1.619250,6.074965,874.877380,177.361618,671.457520,4.383715,1.804610,6.628936
8997,Vespasiano,317120,2019,XIV,3,127601.0,19957444.0,61757.0,9828254.0,65844.0,...,2,3.918465,4.857749,3.037483,943.159546,601.078247,362.465027,4.725853,6.115819,3.578421
8998,Vespasiano,317120,2019,XVI,3,127601.0,19957444.0,61757.0,9828254.0,65844.0,...,0,3.134772,6.476999,0.000000,562.653625,562.208191,0.000000,2.819267,5.720326,0.000000
8999,Vespasiano,317120,2019,XX,3,127601.0,19957444.0,61757.0,9828254.0,65844.0,...,13,65.830205,114.966724,19.743636,13528.304688,11630.342773,2207.864990,67.785758,118.335798,21.797054

In [7]:
df_sm.to_csv('taxa_sim_cap.csv', index=False)

In [8]:
df_sf['id_municipio'] = df_sf['id_municipio'].astype('uint32')
df_sf['ano'] = df_sf['ano'].astype('uint16')
df_sf['pop_total'] = df_sf['pop_total'].astype('uint64')
df_sf['pop_pad_total'] = df_sf['pop_pad_total'].astype('uint64')
df_sf['pop_homem'] = df_sf['pop_homem'].astype('uint64')
df_sf['pop_pad_homem'] = df_sf['pop_pad_homem'].astype('uint64')
df_sf['pop_mulher'] = df_sf['pop_mulher'].astype('uint64')
df_sf['pop_pad_mulher'] = df_sf['pop_pad_mulher'].astype('uint64')
df_sf['mes'] = df_sf['mes'].astype('uint8')
df_sf['obitos_total'] = df_sf['obitos_total'].astype('uint32')
df_sf['obitos_homem'] = df_sf['obitos_homem'].astype('uint32')
df_sf['obitos_mulher'] = df_sf['obitos_mulher'].astype('uint32')
df_sf['taxa_obitos_total'] = df_sf['taxa_obitos_total'].astype('float32')
df_sf['taxa_obitos_homem'] = df_sf['taxa_obitos_homem'].astype('float32')
df_sf['taxa_obitos_mulher'] = df_sf['taxa_obitos_mulher'].astype('float32')
df_sf['obitos_esp_total'] = df_sf['obitos_esp_total'].astype('float32')
df_sf['obitos_esp_homem'] = df_sf['obitos_esp_homem'].astype('float32')
df_sf['obitos_esp_mulher'] = df_sf['obitos_esp_mulher'].astype('float32')
df_sf['grupo'] = df_sf['grupo'].astype('uint8')
df_sf['taxa_obitos_esp_total'] = df_sf['taxa_obitos_esp_total'].astype('float32')
df_sf['taxa_obitos_esp_homem'] = df_sf['taxa_obitos_esp_homem'].astype('float32')
df_sf['taxa_obitos_esp_mulher'] = df_sf['taxa_obitos_esp_mulher'].astype('float32')

df_sf.to_hdf('taxa_sim_cap.h5', "df_sf")

df_sf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108000 entries, 0 to 107999
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   municipio               108000 non-null  object
 1   id_municipio            108000 non-null  uint32
 2   ano                     108000 non-null  uint16
 3   mes                     108000 non-null  uint8
 4   capitulo                108000 non-null  object
 5   grupo                   108000 non-null  uint8
 6   pop_total               108000 non-null  uint64
 7   pop_pad_total           108000 non-null  uint64
 8   pop_homem               108000 non-null  uint64
 9   pop_pad_homem           108000 non-null  uint64
 10  pop_mulher              108000 non-null  uint64
 11  pop_pad_mulher          108000 non-null  uint64
 12  obitos_total            108000 non-null  uint32
 13  obitos_homem            108000 non-null  uint32
 14  obitos_mulher           108000 non-null  uint32
 15  taxa_obitos_total       108000 non-null  float32
 16  taxa_obitos_homem       108000 non-null  float32
 17  taxa_obitos_mulher      108000 non-null  float32
 18  obitos_esp_total        108000 non-null  float32
 19  obitos_esp_homem        108000 non-null  float32
 20  obitos_esp_mulher       108000 non-null  float32
 21  taxa_obitos_esp_total   108000 non-null  float32
 22  taxa_obitos_esp_homem   108000 non-null  float32
 23  taxa_obitos_esp_mulher  108000 non-null  float32
dtypes: float32(9), object(2), uint16(1), uint32(4), uint64(6), uint8(2)
memory usage: 13.2+ MB