In [1]:
import pandas as pd
import numpy as np

In [2]:
#grupos de cidades analisadas
cidades_selecionadas = ["Betim", 'Brumadinho','Curvelo','Esmeraldas','Florestal','Fortuna de Minas',
                        'Igarapé','Juatuba','Maravilhas','Mário Campos','Martinho Campos',
                        'Papagaios','Pará de Minas','Paraopeba','Pequi','Pompéu','São Joaquim de Bicas',
                        'São José da Varginha','Sarzedo']

cidades_limitrofes = ['Abaeté','Araçaí','Belo Horizonte','Belo Vale','Bom Despacho','Bonfim','Cachoeira da Prata',
                      'Caetanópolis','Capim Branco','Conceição do Pará','Contagem','Cordisburgo','Corinto',
                      'Dores do Indaiá','Felixlândia','Ibirité','Igaratinga','Inhaúma','Inimutaba','Itaúna',
                      'Itabirito','Itatiaiuçu','Leandro Ferreira','Mateus Leme','Matozinhos','Moeda',
                      'Morada Nova de Minas','Morro da Garça','Nova Lima','Onça de Pitangui','Paineiras',
                      'Pedro Leopoldo','Pitangui','Presidente Juscelino','Quartel Geral','Ribeirão das Neves',
                      'Rio Manso','Santana de Pirapama','Santo Hipólito','Sete Lagoas']


cidades_prox_limitrofes = ['Araújos','Augusto de Lima','Baldim','Biquinhas','Carmo do Cajuru','Cedro do Abaeté',
                           'Conceição do Mato Dentro','Confins','Congonhas','Congonhas do Norte','Crucilândia',
                           'Estrela do Indaiá','Funilândia','Gouveia','Itaguara','Jaboticatubas','Jeceaba',
                           'Jequitibá','Lagoa Santa','Lassance','Luz','Moema','Monjolos','Nova Serrana',
                           'Ouro Preto','Piedade dos Gerais','Prudente de Morais',
                           'Raposos','Rio Acima','Sabará','São Gonçalo do Abaeté','São Gonçalo do Pará',
                           'São Gotardo','São José da Lapa','Santa Bárbara','Santa Luzia','Santana do Riacho',
                           'Santo Antônio do Monte','Serra da Saudade','Tiros','Vespasiano']


#gera uma lista com o ID de todas as cidades a serem avaliadas
todas = cidades_selecionadas + cidades_limitrofes + cidades_prox_limitrofes

In [3]:
df = pd.read_csv(f"IMRS_Educ.csv", sep=";", encoding="latin")
for i in df.columns:
    if i.isnumeric():
        df[i] = df[i].str.replace(",", ".").astype('float32')
df.columns = ["cod", "municipio", "IMRS_Educ_2010", "IMRS_Educ_2012", "IMRS_Educ_2014", "IMRS_Educ_2016", "IMRS_Educ_2018"]
df

,cod,municipio,IMRS_Educ_2010,IMRS_Educ_2012,IMRS_Educ_2014,IMRS_Educ_2016,IMRS_Educ_2018
0,3100104,Abadia dos Dourados,0.556,0.557,0.506,0.610,0.589
1,3100203,Abaeté,0.561,0.524,0.469,0.679,0.673
2,3100302,Abre Campo,0.439,0.479,0.451,0.627,0.660
3,3100401,Acaiaca,0.645,0.636,0.524,0.674,0.685
4,3100500,Açucena,0.392,0.495,0.449,0.579,0.591
...,...,...,...,...,...,...,...
848,3171808,Virginópolis,0.468,0.526,0.479,0.587,0.602
849,3171907,Virgolândia,0.423,0.477,0.448,0.658,0.673
850,3172004,Visconde do Rio Branco,0.490,0.504,0.451,0.689,0.708
851,3172103,Volta Grande,0.436,0.503,0.439,0.553,0.577
852,3172202,Wenceslau Braz,0.679,0.627,0.546,0.643,0.646

In [4]:
df_san = pd.read_csv(f"IMRS_Saneamento.csv", sep=";", encoding="latin")
for i in df_san.columns:
    if i.isnumeric():
        df_san[i] = df_san[i].str.replace(",", ".").astype('float32')
df_san.columns = ["cod", "municipio", "IMRS_Saneam_2010", "IMRS_Saneam_2016", "IMRS_Saneam_2018"]
df_san

,cod,municipio,IMRS_Saneam_2010,IMRS_Saneam_2016,IMRS_Saneam_2018
0,3100104,Abadia dos Dourados,0.430,0.464,0.493
1,3100203,Abaeté,0.446,0.146,0.158
2,3100302,Abre Campo,0.403,0.471,0.440
3,3100401,Acaiaca,0.464,0.542,0.647
4,3100500,Açucena,0.450,0.420,0.074
...,...,...,...,...,...
848,3171808,Virginópolis,0.571,0.563,0.625
849,3171907,Virgolândia,0.453,0.379,0.197
850,3172004,Visconde do Rio Branco,0.474,0.631,0.582
851,3172103,Volta Grande,0.437,0.601,0.594
852,3172202,Wenceslau Braz,0.410,0.301,0.469

In [5]:
#df_san[df_san["IMRS_Saneam_2018"] == 0]

In [6]:
df_sau = pd.read_csv(f"IMRS_Saude.csv", sep=";", encoding="latin")
for i in df_sau.columns:
    if i.isnumeric():
        df_sau[i] = df_sau[i].str.replace(",", ".").astype('float32')
df_sau.columns = ["cod", "municipio", "IMRS_Saude_2010", "IMRS_Saude_2012", "IMRS_Saude_2014", "IMRS_Saude_2016", "IMRS_Saude_2018"]
df_sau

,cod,municipio,IMRS_Saude_2010,IMRS_Saude_2012,IMRS_Saude_2014,IMRS_Saude_2016,IMRS_Saude_2018
0,3100104,Abadia dos Dourados,0.867,0.803,0.694,0.740,0.763
1,3100203,Abaeté,0.678,0.670,0.662,0.666,0.690
2,3100302,Abre Campo,0.710,0.695,0.692,0.731,0.707
3,3100401,Acaiaca,0.677,0.753,0.776,0.625,0.820
4,3100500,Açucena,0.696,0.737,0.844,0.830,0.822
...,...,...,...,...,...,...,...
848,3171808,Virginópolis,0.737,0.612,0.744,0.699,0.655
849,3171907,Virgolândia,0.733,0.704,0.863,0.747,0.743
850,3172004,Visconde do Rio Branco,0.737,0.737,0.620,0.712,0.604
851,3172103,Volta Grande,0.630,0.565,0.806,0.719,0.662
852,3172202,Wenceslau Braz,0.613,0.727,0.820,0.857,0.791

In [7]:
df_final = df.merge(df_san, how="right")
df_final = df_final.merge(df_sau, how="right")
df_final

,cod,municipio,IMRS_Educ_2010,IMRS_Educ_2012,IMRS_Educ_2014,IMRS_Educ_2016,IMRS_Educ_2018,IMRS_Saneam_2010,IMRS_Saneam_2016,IMRS_Saneam_2018,IMRS_Saude_2010,IMRS_Saude_2012,IMRS_Saude_2014,IMRS_Saude_2016,IMRS_Saude_2018
0,3100104,Abadia dos Dourados,0.556,0.557,0.506,0.610,0.589,0.430,0.464,0.493,0.867,0.803,0.694,0.740,0.763
1,3100203,Abaeté,0.561,0.524,0.469,0.679,0.673,0.446,0.146,0.158,0.678,0.670,0.662,0.666,0.690
2,3100302,Abre Campo,0.439,0.479,0.451,0.627,0.660,0.403,0.471,0.440,0.710,0.695,0.692,0.731,0.707
3,3100401,Acaiaca,0.645,0.636,0.524,0.674,0.685,0.464,0.542,0.647,0.677,0.753,0.776,0.625,0.820
4,3100500,Açucena,0.392,0.495,0.449,0.579,0.591,0.450,0.420,0.074,0.696,0.737,0.844,0.830,0.822
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
848,3171808,Virginópolis,0.468,0.526,0.479,0.587,0.602,0.571,0.563,0.625,0.737,0.612,0.744,0.699,0.655
849,3171907,Virgolândia,0.423,0.477,0.448,0.658,0.673,0.453,0.379,0.197,0.733,0.704,0.863,0.747,0.743
850,3172004,Visconde do Rio Branco,0.490,0.504,0.451,0.689,0.708,0.474,0.631,0.582,0.737,0.737,0.620,0.712,0.604
851,3172103,Volta Grande,0.436,0.503,0.439,0.553,0.577,0.437,0.601,0.594,0.630,0.565,0.806,0.719,0.662
852,3172202,Wenceslau Braz,0.679,0.627,0.546,0.643,0.646,0.410,0.301,0.469,0.613,0.727,0.820,0.857,0.791

In [8]:
def substituir_nomes_errados(df):
    idx1 = df[df["municipio"] == "Leandro ferreira"].index[0]
    idx2 = df[df["municipio"] == "Onça do Pitangui"].index[0]
    df.loc[idx1, "municipio"] = "Leandro Ferreira"
    df.loc[idx2, "municipio"] = "Onça de Pitangui"
    return df
df_final = substituir_nomes_errados(df_final)

In [9]:
df_final = df_final[df_final['municipio'].isin(todas)]
df_final

,cod,municipio,IMRS_Educ_2010,IMRS_Educ_2012,IMRS_Educ_2014,IMRS_Educ_2016,IMRS_Educ_2018,IMRS_Saneam_2010,IMRS_Saneam_2016,IMRS_Saneam_2018,IMRS_Saude_2010,IMRS_Saude_2012,IMRS_Saude_2014,IMRS_Saude_2016,IMRS_Saude_2018
1,3100203,Abaeté,0.561,0.524,0.469,0.679,0.673,0.446,0.146,0.158,0.678,0.670,0.662,0.666,0.690
34,3103207,Araçaí,0.527,0.595,0.555,0.618,0.642,0.413,0.461,0.579,0.581,0.642,0.858,0.803,0.685
42,3103900,Araújos,0.575,0.592,0.519,0.719,0.741,0.438,0.464,0.462,0.770,0.839,0.840,0.654,0.770
52,3104809,Augusto de Lima,0.537,0.594,0.554,0.646,0.655,0.357,0.145,0.147,0.814,0.843,0.850,0.739,0.729
54,3105004,Baldim,0.534,0.576,0.551,0.731,0.723,0.438,0.456,0.510,0.798,0.760,0.778,0.601,0.510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,3165537,Sarzedo,0.544,0.602,0.554,0.621,0.657,0.623,0.575,0.621,0.771,0.787,0.740,0.695,0.682
782,3166600,Serra da Saudade,0.409,0.418,0.312,0.558,0.537,0.441,0.277,0.324,0.688,0.916,0.878,0.619,0.826
789,3167202,Sete Lagoas,0.535,0.574,0.512,0.687,0.713,0.559,0.696,0.765,0.655,0.679,0.705,0.688,0.601
808,3168903,Tiros,0.517,0.501,0.453,0.603,0.607,0.479,0.643,0.819,0.810,0.817,0.874,0.822,0.840
843,3171204,Vespasiano,0.485,0.567,0.513,0.623,0.649,0.505,0.640,0.692,0.639,0.652,0.598,0.598,0.472

In [10]:
df_final[df_final["municipio"] == "Leandro Ferreira"]

,cod,municipio,IMRS_Educ_2010,IMRS_Educ_2012,IMRS_Educ_2014,IMRS_Educ_2016,IMRS_Educ_2018,IMRS_Saneam_2010,IMRS_Saneam_2016,IMRS_Saneam_2018,IMRS_Saude_2010,IMRS_Saude_2012,IMRS_Saude_2014,IMRS_Saude_2016,IMRS_Saude_2018
436,3138302,Leandro Ferreira,0.485,0.495,0.433,0.446,0.49,0.474,0.446,0.489,0.829,0.872,0.838,0.705,0.731

In [11]:
df_final.to_csv("IMRS.csv", encoding='latin1', index=False)

In [12]:
list(df_final["cod"])

[3100203,
 3103207,
 3103900,
 3104809,
 3105004,
 3106200,
 3106408,
 3106705,
 3107000,
 3107406,
 3108107,
 3109006,
 3109600,
 3109907,
 3112505,
 3114204,
 3115607,
 3117504,
 3117603,
 3117876,
 3118007,
 3118106,
 3118601,
 3118908,
 3119104,
 3120607,
 3120904,
 3123205,
 3124104,
 3124708,
 3125705,
 3126000,
 3126406,
 3127206,
 3127602,
 3129806,
 3130101,
 3130200,
 3131000,
 3131109,
 3131901,
 3132206,
 3133709,
 3133808,
 3134608,
 3135407,
 3135704,
 3136652,
 3137601,
 3138104,
 3138302,
 3138807,
 3139706,
 3140159,
 3140506,
 3140704,
 3141108,
 3142304,
 3142403,
 3142502,
 3143500,
 3143609,
 3144805,
 3145208,
 3145802,
 3146107,
 3146404,
 3146909,
 3147105,
 3147402,
 3149309,
 3149606,
 3150406,
 3151404,
 3152006,
 3153202,
 3153608,
 3153707,
 3153905,
 3154606,
 3154804,
 3155306,
 3156700,
 3157203,
 3157807,
 3158508,
 3159001,
 3160405,
 3160603,
 3161700,
 3161809,
 3162104,
 3162922,
 3162955,
 3163102,
 3165537,
 3166600,
 3167202,
 3168903,
 3171204]

In [13]:
df_final

,cod,municipio,IMRS_Educ_2010,IMRS_Educ_2012,IMRS_Educ_2014,IMRS_Educ_2016,IMRS_Educ_2018,IMRS_Saneam_2010,IMRS_Saneam_2016,IMRS_Saneam_2018,IMRS_Saude_2010,IMRS_Saude_2012,IMRS_Saude_2014,IMRS_Saude_2016,IMRS_Saude_2018
1,3100203,Abaeté,0.561,0.524,0.469,0.679,0.673,0.446,0.146,0.158,0.678,0.670,0.662,0.666,0.690
34,3103207,Araçaí,0.527,0.595,0.555,0.618,0.642,0.413,0.461,0.579,0.581,0.642,0.858,0.803,0.685
42,3103900,Araújos,0.575,0.592,0.519,0.719,0.741,0.438,0.464,0.462,0.770,0.839,0.840,0.654,0.770
52,3104809,Augusto de Lima,0.537,0.594,0.554,0.646,0.655,0.357,0.145,0.147,0.814,0.843,0.850,0.739,0.729
54,3105004,Baldim,0.534,0.576,0.551,0.731,0.723,0.438,0.456,0.510,0.798,0.760,0.778,0.601,0.510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,3165537,Sarzedo,0.544,0.602,0.554,0.621,0.657,0.623,0.575,0.621,0.771,0.787,0.740,0.695,0.682
782,3166600,Serra da Saudade,0.409,0.418,0.312,0.558,0.537,0.441,0.277,0.324,0.688,0.916,0.878,0.619,0.826
789,3167202,Sete Lagoas,0.535,0.574,0.512,0.687,0.713,0.559,0.696,0.765,0.655,0.679,0.705,0.688,0.601
808,3168903,Tiros,0.517,0.501,0.453,0.603,0.607,0.479,0.643,0.819,0.810,0.817,0.874,0.822,0.840
843,3171204,Vespasiano,0.485,0.567,0.513,0.623,0.649,0.505,0.640,0.692,0.639,0.652,0.598,0.598,0.472